[2021-02-24 23:40] allenplusplus opened #28 "Add rushx update to/in all samples"
**What feature are you requesting?**

Could we add the ability to do `rushx update` (and also `rushx update -p`) for a given sample? I haven't looked into if this is possible or not.

**What would be the benefit of adding this feature?**

Faster iteration when updating SDK and then testing out the changes in single sample versus having to install for all projects (especially if you have a problem

[2021-03-08 22:33] allenplusplus opened #57 "Add block merge to/in PR where there are unresolved comments"
**What feature are you requesting?**

We should block merging of PRs when there are unresolved comments.

**What would be the benefit of adding this feature?**

This should ensures comments are not forgotten or accidently missed.

**What solution would be ideal for you?**

PR is not able to be merged until all comments are marked as resolved.

**What alternatives have you considered?**

N/A

**Is

[2021-03-10 19:06] #57 closed, assigned to nobody

[2021-03-26 21:12] github-actions opened #97 "Main CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-03-29 16:15] #97 closed, assigned to nobody

[2021-04-14 22:56] #28 closed, assigned to nobody

[2021-05-26 14:16] paddotk opened #396 "Cannot run samples"
**Describe the bug; what happened?**
When I try to get one of the examples working, by running `npm install` in the respective folders, I get the following errors:

[code]

**What are the steps to reproduce the issue?**
Clone repo, navigate to the right folder in command-line, run `npm install`

- OS & Device: Windows 10, PC
- Windows CMD
- Version: `1.0.0.-beta.1`

[2021-05-26 14:55] JamesBurnside commented on #396
Hi @paddotk, we're currently polishing up the samples, and the readmes for usage should be completed soon. The error you are seeing is because we switched to [rush](https://rushjs.io/) for our build system. To build the calling sample you will need to:
1. Install rush
[code]
1. Install repo dependencies
[code]
1. Under `samples\Server\appsettings.json` replace "REPLACE_WITH_CONNECTION_STRING" with

[2021-05-28 14:18] paddotk commented on #396
Thanks James, I got it working now :)

[2021-05-28 20:52] #396 closed

[2021-06-01 08:55] paddotk opened #416 "Teams meetings integration"
Hi,

I have a question regarding usage of the Teams-meeting connection part of this library. In our project we specificaly need to connect with Teams meetings, and we used [https://github.com/Azure-Samples/communication-services-web-calling-hero](https://github.com/Azure-Samples/communication-services-web-calling-hero) as a starting point. I'm trying to use the 'connect to Teams' functionality fro

[2021-06-01 11:49] paddotk commented on #416
Nevermind, I was just told this is an actual importable library which I didn't realize. Closing.

[2021-06-01 11:49] #416 closed

[2021-06-01 11:50] iMicknl commented on #416
It would be good to have up to date end to end samples, like https://github.com/Azure-Samples/communication-services-web-calling-hero/ and https://github.com/Azure-Samples/communication-services-web-calling-hero/blob/teams-interop, using communication-react.

Is there any ETA (or preview) for the updated samples? The current samples are using rush and are more suitable as an easy to access test sa

[2021-06-01 19:16] ddematheu2 commented on #416
Hey @iMicknl, the team is currently working on generating samples off communication-react. We expect to have those out in the next month or so.  The direction we are taking moving forward is to align all UI samples on the UI Library to make the process for developer wanting to modify better.

Aligned to @paddotk issue above, once we align developers should be able to to use the example code found

[2021-06-14 16:43] github-actions[bot] opened #464 "[TEST IGNORE] Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-06-14 16:44] JamesBurnside commented on #464
This was a test - ignore this.

[2021-06-14 16:45] prprabhu-ms commented on #464
Too late. I didn't ignore :')

[2021-06-14 16:51] github-actions[bot] opened #465 "[TEST IGNORE] Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-06-14 16:54] JamesBurnside commented on #464
(Sorry keeping this open for testing, will close in ~30 minutes)

[2021-06-14 16:54] prprabhu-ms commented on #464
No problem. I thought I might be doing negative work by closing. It was on an open tab, and I chanced upon it one time too many :D

[2021-06-14 17:01] JamesBurnside commented on #464
Ok finished! :D

[2021-06-14 17:01] #464 closed

[2021-06-14 17:05] JamesBurnside commented on #464
Just for posteriority, I was testing this: https://github.com/Azure/communication-ui-library/pull/467

[2021-06-18 01:08] github-actions[bot] opened #484 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-06-18 01:53] JamesBurnside commented on #484
Transient build issue. Re-ran failed build and everything is green ✅

[2021-06-18 01:53] #484 closed

[2021-06-18 18:21] alkwa-msft opened #489 "The C# backend should be using 1.0.0 dependencies from ACS"
^

[2021-06-18 18:59] #489 closed

[2021-06-24 09:42] iMicknl opened #497 "Camera preview doesn't work in latest CallComposite"
**Describe the bug; what happened?**

Updating @azure/communication-react from `1.0.0-alpha-20210623.9.0` to `1.0.0-alpha-20210624.13.0` broke the camera preview functionality for me, which is perhaps caused by https://github.com/Azure/communication-ui-library/pull/491.

**What are the steps to reproduce the issue?**
1. Use the calling composite sample on main (or use 1.0.0-alpha-20210624.13.0)
2.

[2021-06-24 16:15] JamesBurnside commented on #497
Thanks for the detailed bug report! (and the incredibly fast selfhosting!)
@mgamis-msft can you take a look at this today?

[2021-06-24 17:14] iMicknl commented on #497
Thanks @JamesBurnside, and no hurry! We are not using this version in production, just faced it while updating my demo app. I have reverted to the previous version which is fine for demo purposes.

[2021-06-25 17:41] #497 closed

[2021-06-25 17:42] mgamis-msft commented on #497
I have just merged in a fix for this. Thanks for filing this issue.

[2021-06-29 10:42] iMicknl opened #513 "[Feature request] Make CallComposite responsive / mobile friendly"
**What feature are you requesting?**

It would be great if the CallComposite would have some (basic) responsive support. Currently it is mostly functional on iOS and Android, however the layout is distorted since it doesn't support small screen layouts.

Currently the CallComposite is hard to use in a mobile first / friendly scenario and thus requiring using the Stateful client with quite some mod

[2021-06-29 10:52] iMicknl opened #514 "[Feature request] CallComposite features should be disabled if they are not available"
**What feature are you requesting?**

It would be great if the CallComposite (of full UI SDK) could implement graceful degradation or progressive enhancement principles. It can be confusing for the end-user when features are not working, due to device or browser limitations.

Think of;

1. Disable screen sharing button when user is using mobile (iOS / Android)
2. Disable speaker picker in pre-join

[2021-06-29 17:49] paddotk opened #516 "Camera/audio toggles on mobile devices"
These findings are based on the sample app that uses the CallComposite.

**Describe the bug; what happened?**
1) Trying to switch cameras freezes/crashes the page. This seems to happen when the camera is turned on in the app, when I switch my camera and then turn it on, it works fine. This occurs on both the config page as well as in the call itself.

2) The speaker dropdown says 'select an option

[2021-07-05 21:14] JamesBurnside commented on #516
Hi @paddotk thanks for filing these issues!

For 1 - I can't repro this on ios, I'll have someone try repro on an android device shortly
For 2 - I _can_ repro this every time on my ios device. Currently we are doing our internal bug tracking through Azure DevOps so I have filed a bug there and will update this thread when it is addressed. We have a large item in our backlog to tackle the interface

[2021-07-05 21:45] JamesBurnside commented on #516
Hi @paddotk we've been unable to repro on our android devices either, what specific device are you using?

[2021-07-05 22:11] JamesBurnside commented on #514
I fully support this idea. Out of interest do you think we should hide functionality like this when unavailable on certain devices, show the button/feature as greyed out (or equivalent), or when interacted with present an informational with something like: "this feature is not available on your device". (+ @alkwa-msft @ddematheu2).

As a note specifically for detecting screenshare availability we

[2021-07-05 23:26] JamesBurnside commented on #513
We definitely have this item in our immediate backlog for both calling and chat and is important to us, perhaps @alkwa-msft @ddematheu2 can comment on a potential timeline for responsive support

[2021-07-06 09:55] iMicknl commented on #514
I wasn't sure about this one, thus I hope that a UI/UX designer wants to think about this. 😃

If the feature is greyed out, it would make sense to show a tooltip / message that this functionality is not supported on the current device. However, having all those disabled features could clutter the interface a lot, especially on mobile.

[2021-07-06 19:34] leijae opened #532 "[Question] Are the libraries from the StaticHTMLCompositeSample available on NPM?"
If I have an existing web app that isn't a reat-app to begin with, and I want to implement calling, I already have to install the react components for this work.

If I understand the docs correctly, I also must now work with yet another package manager, Rush.  Or is there an npm package that I can add to packages for the necessary components?

[2021-07-06 19:37] JamesBurnside commented on #532
Hi @leijae! Our package is available to use here from npm: https://www.npmjs.com/package/@azure/communication-react.

For more information check out our storybook documentation here: https://azure.github.io/communication-ui-library/?path=/story/quickstarts-composites--page

[2021-07-06 20:05] leijae commented on #532
yea there's just a ton of moving parts and I'm getting dizzy... I'd love to see a: Add ACS Calling to an existing MVC app (sans-react)...  haha

thanks for the info @JamesBurnside

[2021-07-06 21:47] #532 closed

[2021-07-07 14:19] JamesBurnside commented on #513
Made small improvements to call composite here to make it actually usable on mobile https://github.com/Azure/communication-ui-library/pull/533.
However there is still a lot of polish to go to make it a premium experience that will be tackled at a future date

[2021-07-07 21:52] leijae opened #543 "[Question] Implementing into MVC"
I have an existing MVC app; the only bundling it uses is the Bundler & Minifier extension in VS2019.... so the whole rush thing is new to me anyway. I thought it was like gulp... but apparently there also commands to run a iis express instance.. ok.

I was able to successfully run the StaticHtmlComposite page in Node.js (which btw I'm not the biggest fan of since I work almost exclusively out of v

[2021-07-07 22:02] JamesBurnside commented on #543
Unfortunately we do not have a hosting story regarding composite use outside of the npm package, that is something we are working on but won't be ready for some time.
Currently, to run the composites outside of react its a two steps process:
1. Build the static html composites from this repo - this generates two bundled js files:
[code]
2. Copy and paste one or both of those files (depending on if

[2021-07-07 22:04] leijae commented on #543
ok so I have that

Are you saying I should replace the other callComposite.js file with this one?

[2021-07-07 23:07] PorterNan commented on #543
Hey, thanks for the question, so first thing first, if you look at the updated document, you might need to run `rush install` and `rush build` before you grab your js bundle, there is a strange error for now, that even you don't install these dependencies, js files will be generated but without those dependencies and no error was shown

Please check your js bundle file size, it should be ~1MB for

[2021-07-08 02:19] github-actions[bot] opened #548 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-07-08 02:22] prprabhu-ms commented on #548
Looks like network glitch when fetching NPM packages.

I've queued another build off of `main`.

[2021-07-08 02:23] prprabhu-ms commented on #548
https://github.com/Azure/communication-ui-library/actions/runs/1010146968 will open another issue if it fails, so closing this one.

[2021-07-08 02:23] #548 closed

[2021-07-08 03:22] leijae commented on #543
Holy crap I got it working.

Step 1) do the rush build thing.
Step 2) pull the new callComposite.js to project (i added it to js folder in wwwroot)
Step 3) I built a web api TokenController that looks almost exactly like the controller in the C# Calling Hero Sample out of the Calling.csproj/Controllers/UserTokenController

Step 4) Built a public MVC controller so that a link can be generated link

[2021-07-08 03:24] #543 closed

[2021-07-08 06:46] PorterNan commented on #543
Thanks for the feedback, especially for the overridable string one! We do have the plan to make all these strings overridable (mainly for i18n purpose), please keep eyes on our new releases in next a few months 😉

[2021-07-08 14:41] iMicknl commented on #513
Thanks, @JamesBurnside this is already a great improvement! I encountered a few bugs / improvements, does it make sense to report them already or are they already tracked internally for the future premium experience?

Examples are:

- Join screen is not fully responsive yet. (tested on iPhone 11 Pro) [screenshot](https://user-images.githubusercontent.com/1424596/124932025-0480b680-e003-11eb-898f-2

[2021-07-08 15:06] iMicknl opened #553 "Control Bar Buttons with labels don't have cursur: pointer on hover"
**Describe the bug; what happened?**
Very small bug, but when you hover over a button in the control bar, you won't always see the `cursor: pointer` ('hand'). This happens when you hover over the label text.

The `<label>` has a `cursur: default`, instead of `cursor: pointer`.

**What are the steps to reproduce the issue?**
See above.

https://azure.github.io/communication-ui-library/?path=/story/

[2021-07-08 16:15] JamesBurnside commented on #513
Definitely report them so they can't be missed ♥ Hopefully it won't be too long before we get round to tackling them, we have some known issues being tracked explicitly as bugs that might be duplicates but I'd rather have them in two places than no places. I've mentioned this issue on our work item to make the composites fully responsive to ensure anything reported here is addressed (https://skype

[2021-07-08 20:22] leijae opened #555 "[Feature Request] When Call session is over don't return to start a call screen."
**What feature are you requesting?**
When a call has been completed, a user is forwarded back to the "Start a call" view. Es no bueno, a customer could make additional calls after the host has left incurring more charges than inticipated.

**What would be the benefit of adding this feature?**
proper business logic

**What solution would be ideal for you?**
Some kind of thanks for participating scr

[2021-07-08 20:26] leijae commented on #514
Personally, I'd like to programatically remove features also. In my use case there are certain times that I don't even want screen-sharing as an option. But all the buttons have the same css class.

[2021-07-08 20:47] JamesBurnside commented on #555
@leijae great feedback! We should be showing a call ended screen or perhaps simply nothing. We do expect consumers to want to present their own call ended screen after the callended event but we need a better default action.

If you want to detect when the call ends, currently the `callComposite.js` returns the adapter that was created:
[code]

Using the returned adapter you can hook into the call

[2021-07-08 21:01] leijae commented on #555
confirmed. that did work. not does forward to my custom page. merci beaucoup

[2021-07-08 21:03] leijae commented on #513
for the time being I added boostrap classes with jquery. this kind of helped... it's not perfect or ideal, but it gets the job done

        $('.css-83').addClass('col-sm-6 mx-auto');
        $('.css-111').addClass('col-sm-6 mx-auto text-center');
        $('.css-82').addClass('row pt-2 d-block');
        //$('.css-82').addClass('d-block');
        $('.css-112').addClass('mx-auto text-left');

[2021-07-08 21:53] leijae commented on #555
closing this issue because I think it's probably on your radar, and I'm still able to accomplish what I need to.

[2021-07-08 21:53] #555 closed

[2021-07-09 14:57] iMicknl commented on #514
This is something that I would love as well for the CallComposite. Perhaps best to log this as a new issue @leijae?

[2021-07-12 21:01] mgamis-msft commented on #553
Thanks for the detailed big report (and fix for it as well :)). I will work on this bug today.

[2021-07-12 21:56] mgamis-msft commented on #553
#567

[2021-07-12 23:39] #553 closed

[2021-07-13 10:26] aakashbhardwaj619 opened #573 "[Bug] Full text of system message is not displayed in `Message Thread` component"
**Describe the bug; what happened?**
The `Message Thread` component does not display the full text of any system message if it is overflowing the parent container.

**What are the steps to reproduce the issue?**
Add the `Message Thread` component to a React component and add any system message. Reduce the screen width and notice that the overflowing text of the system message is not displayed.
 OR

[2021-07-13 17:08] mgamis-msft commented on #573
Thank you for the detailed bug report. I will work on this bug today.

[2021-07-14 07:26] artempl opened #583 "Messages with type 'html' are ignored in chat thread"
Trying to display messages sended from java client with 'html' type (valid values for java SDK of azure communication are 'text' and 'html' https://github.com/Azure/azure-sdk-for-java/blob/af17a1edd24e440b8ea83535a5ebcd3acce9f9b8/sdk/communication/azure-communication-chat/src/main/java/com/azure/communication/chat/models/ChatMessageType.java#L17; ), and chatThread component doesn't display it (bea

[2021-07-14 17:30] #573 closed

[2021-07-14 19:09] mgamis-msft commented on #583
Thanks for filing this issue. I will file a bug and work on the fix.

[2021-07-14 21:55] #583 closed

[2021-07-20 08:30] aakashbhardwaj619 opened #605 "Add the option to set margin values for the chat message container"
**What feature are you requesting?**
Add the option to set margin values for the chat message container.

**What would be the benefit of adding this feature?**
This will give more control to style the containers as per requirement.

**What solution would be ideal for you?**
The **margin-left** and **margin-right** options should apply to the chat message container.

**What alternatives have you co

[2021-07-20 21:37] JamesBurnside commented on #605
@aakashbhardwaj619 thanks for filing this issue, I agree it would be useful to be able to remove these margins and by default there doesn't look to be a way to do that through our current API - we'll look into creating a fix for this

[2021-07-20 21:41] JamesBurnside commented on #605
For more context on this issue this component is currently wrapping around fluent northstar's (N*) chat component: https://fluentsite.z22.web.core.windows.net/0.57.0/components/chat/definition
By default they add this spacing in there without an interface to remove it.

The culprit component lies in an implictly defined element between the chat container element: https://github.com/Azure/communica

[2021-07-21 22:44] JamesBurnside commented on #516
@paddotk closing this issue as we cannot repro the cameras freezes/page crash. We have a large work item to make the composites mobile friendly where we will be addressing the speaker button bug. If you are able to provide further details on the crash we will be happy to reopen and take another look

[2021-07-21 22:44] #516 closed

[2021-07-23 05:47] aakashbhardwaj619 opened #619 "The 1.0.0-beta.2 versioned package does not work with typescript < 4.1"
**Describe the bug; what happened?**
The **1.0.0-beta.2** versioned package does not work in a [SharePoint Framework](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview) project that uses TypeScript **3.9.7**. The **1.0.0-beta.1** version works fine in the same project.

**What are the steps to reproduce the issue?**
1. Create a new SharePoint Framework project ([Re

[2021-07-23 17:02] JamesBurnside commented on #619
Hi @aakashbhardwaj619, thanks for bringing this to our attention. We upgraded the api-extractor version in 1.0.0-beta.2 (this is what creates these .d.ts files). Looks like, because it now uses a newer version of typescript to generate these files, it needs our project to now declare a higher peer dependency version for typescript.

We'll look into what our solutions are (the upgraded api-extracto

[2021-07-23 18:19] aakashbhardwaj619 commented on #619
Thanks for acknowledging this @JamesBurnside. Unfortunately, the latest version of SharePoint Framework supports TypeScript only up to version 3.9. ([Reference](https://developer.microsoft.com/en-us/microsoft-365/blogs/announcing-sharepoint-framework-1-12-1-extending-more-of-microsoft-teams/))

[2021-07-23 20:03] JamesBurnside commented on #619
We'll tackle this with two work items and have a fix ready for the next beta release:
1. @prprabhu-ms can you take a look at the chat error target type definition and see if you can make it typescript 3.9.7 compatible:
[code]
    Using a string template in a type is only supported in typescript 4.1+
    * Perhaps we could construct the list of chatErrorTargets instead and export an enum of strings

[2021-08-05 22:44] github-actions[bot] opened #647 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-08-06 18:43] #647 closed

[2021-08-06 20:52] JamesBurnside commented on #619
This is now fixed in 1.0.0-beta.3.

[2021-08-06 20:52] #619 closed

[2021-08-09 20:35] github-actions[bot] opened #656 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-08-09 22:56] prprabhu-ms commented on #656
Flake. Passed on `main` again.

[2021-08-09 22:56] #656 closed

[2021-08-11 23:50] ddematheu2 commented on #514
I have added both enhancements as feedback to our backlog.

[2021-08-11 23:50] #514 closed

[2021-08-11 23:52] ddematheu2 commented on #513
Captured in our backlog. If there any additional specific bugs, please create new issues to tackle them individually.

[2021-08-11 23:52] #513 closed

[2021-08-18 03:31] harrychy8 opened #693 "createAzureCommunicationCallAdapter not acting async in @azure/communication-react"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**
You can just use the same code in https://azure.github.io/communication-ui-library/?path=/docs/composites-call--join-existing-call. You will see that the page only renders after the createAzureCommunicationCallAdapter call is finished. Therefore I felt like that inside the function there is something that is NOT a

[2021-08-18 19:32] anjulgarg commented on #693
Hi @harrychy8
Thanks for reaching out to us.

If you look closely at the code, the page is configured to render only after the `adapter` state variable has been populated.

![image](https://user-images.githubusercontent.com/9782747/129960397-f2ce825d-bdc2-4f1a-a033-2ba178b0a0a4.png)

This adapter variable is being set only after the `createAzureCommunicationCallAdapter`  is finished.

This is an i

[2021-08-18 20:15] harrychy8 commented on #693
Thank you @anjulgarg for the quick response. The issue is that ```return <>Initializing...</>;``` is not even rendered when ```createAzureCommunicationCallAdapter``` is not finished

[2021-08-18 20:23] anjulgarg commented on #693
That's strange. Could you share your code?
Since `return <>Initializing...</>;` is outside the conditional blocks it should run.

[2021-08-18 21:43] anjulgarg commented on #693
Closing this issue as this is being caused due to a next.js dynamic import of the component which is out of the scope of this library

[2021-08-18 21:43] #693 closed

[2021-08-25 14:52] IvanBeschetnikov-Nix opened #719 "Dependency install issue"
At first time after cloning repo and running command "rush update", an error occurred:
"ERROR: Internal Error: Cannot find installed dependency "@fluentui/react-icons" in "C:\Users\{user}\{user_path}\communication-ui-ibrary\common\temp\node_modules\.pnpm\local\C%3A%2FUsers%2F{user}%2FDocuments%2F{user_path}2Fcommunication-ui-library%2Fcommon%2Ftemp%2Fprojects%2Fcommunication-react.tgz\node_modules

[2021-08-28 03:08] github-actions[bot] opened #733 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-08-29 21:00] mgamis-msft commented on #733
Timed out on 'Restore node_modules from cache' step as seen here https://github.com/Azure/communication-ui-library/runs/3447127852. I just did a rerun of CI workflow and all jobs passed.

[2021-08-29 21:00] #733 closed

[2021-08-30 18:21] JamesBurnside commented on #719
@IvanBeschetnikov-Nix in case you are simply looking to use the repo functionality without having to clone and build locally - we have an npm package you can use in your project: https://www.npmjs.com/package/@azure/communication-react

For more information on use check out our public documentation: https://aka.ms/acsstorybook

[2021-09-03 13:41] iMicknl opened #751 "Update to latest Calling SDK (v1.2.1-beta.1)"
**What feature are you requesting?**

Is there an ETA when the `@azure/communication-calling` dependency will be updated to the latest version, especially for the composite? This is a relatively small change (hopefully), but it will make it a lot easier to test if the new calling SDK fixes.

https://github.com/Azure/Communication/blob/master/releasenotes/acs-javascript-calling-library-release-note

[2021-09-08 17:06] alkwa-msft commented on #751
Thanks for sharing this issue. Currently looking into this.

[2021-09-09 19:03] alkwa-msft commented on #719
Closing due to inactivity. Please reach out if we can help out further.

[2021-09-09 19:03] #719 closed

[2021-09-09 23:34] scbedd opened #763 "Resolve Duplicated Members in @azure/communication-react"
Given that the library actually exists here, this issue is re-filed from where I [originally filed it.](https://github.com/Azure/azure-sdk-for-js/issues/17429)

[Visible Here](https://docs.microsoft.com/en-us/javascript/api/@azure/communication-react/?view=azure-node-latest)

![image](https://user-images.githubusercontent.com/45376673/131894466-a8372f7b-a58b-41c5-864e-47dddc023969.png)

Swapping t

[2021-09-10 17:13] alkwa-msft commented on #751
https://www.npmjs.com/package/@azure/communication-react/v/1.0.0-alpha-20210910.10.0

The change should be in the build
https://github.com/Azure/communication-ui-library/commit/e337a0813532da34430795921a4bfc324453d881

[2021-09-10 18:23] iMicknl commented on #751
Thanks @alkwa-msft! :)

We will do some testing in the coming weeks, and this will help a lot.

[2021-09-10 18:23] #751 closed

[2021-09-10 19:56] LeugimAtreides opened #766 "Missing floating video styles in Video Gallery component"
**Describe the bug; what happened?**

In the Storybook Video Gallery Component the canvas mode has a bug when choosing floatingLocalVideo. The styles disappear and you end up with a floating blank component. This also occurs when implementing the component

**What are the steps to reproduce the issue?**
1.  go to https://azure.github.io/communication-ui-library/?path=/story/ui-components-videogall

[2021-09-10 20:31] alkwa-msft commented on #766
looking into this now thanks for writing this issue

[2021-09-10 21:19] alkwa-msft commented on #766
I found this is still broken in beta4 but it will be fixed in beta5 (targeting for a release within the next  couple of weeks along with some other improvements)

We do however have daily alpha builds that are produced and this build 1.0.0-alpha-20210902.0019.0 and any later builds will have the fix.

[2021-09-14 00:19] JamesBurnside commented on #763
I can confirm the duplicates are appearing because the typedoc is picking up definitions in the rolled up type file: `communication-react.d.ts`, as well as inside their original definition file inside the individual packlet directories:
| AreEqual defn 1 | AreEqual defn 2 |
| -- | -- |
| ![image](https://user-images.githubusercontent.com/2684369/133171463-172b6c83-cd00-4d3b-be64-3d1c1f6a81ac.png)

[2021-09-14 02:48] LeugimAtreides commented on #766
@alkwa-msft I installed the alpha build you mentioned but now the component renders blank but when I perform an update on the component such as switching from muted to unmuted it renders the video fine. Looks like there is still a bug occurring there.

[2021-09-14 04:00] harrychy8 opened #775 "Options button does not work with `react-full-screen` in CallComposite"
**Describe the bug; what happened?**
When the page is at full screen (note this is with react-full-screen, not an F11 full screen), the options button does not work

**What are the steps to reproduce the issue?**
Wrap the composite with Full Screen following this [link](https://www.npmjs.com/package/react-full-screen), start the call, enter full screen and click on the options button

**In what en

[2021-09-14 21:19] scbedd commented on #763
@JamesBurnside you made some good recommendations here. I'll see if there is anything undocumented that this could work.

[2021-09-14 22:51] alcail commented on #766
We seem to have a missing dependency here. Will create a bug for this.
Thanks, @LeugimAtreides for reaching out with update

[2021-09-23 20:47] ddematheu2 commented on #763
@scbedd any update from your side on this? Looking to get an ETA for us to finalize reference docs. Thanks!

[2021-09-24 20:44] mmarinhomac opened #824 ""html" messages do not render in chat in ChatComposite"
All messages of type "html" are not rendered in chat!

With two chats open in parallel, sending a file through the first one, in the second chat in real time it is possible to see the message (tag a with link) that has just been sent, but when closing the chat and reopening all html messages are not rendered.

I'm sending a message like this:
[code]

Chat - Image:
![chat-without-links](https://use

[2021-09-25 01:55] scbedd commented on #763
Hey folks, got some spare time this evening to look through this again.

1. There is no option in the docs CI build to add typedoc `--exclude` options at this time. I could probably PR something like that, but would need to justify why we can't simply include a single `d.ts` file.
2. Adding a `typedoc.js` may actually work. **[1]** is how they call `typedoc`, so if it's in the package folder, it s

[2021-09-27 15:19] JamesBurnside commented on #763
Thanks for looking into this! I'll confirm with folks on my side if we can remove the other `.d.ts` files and just include the rolled up one.

I'll try also playing around with the tsdoc command some more - maybe this feature only works in newer versions of the typedoc npm package.

For option 3 (going after just the `dist-esm` folder) - the reason we can't do that is it includes exports we don't

[2021-09-27 21:32] JamesBurnside commented on #763
Confirmed two things:
* We should be able to use the `typedoc.js` in the following format: https://github.com/Azure/communication-ui-library/pull/833
  * Needs confirmed the tool DCOM uses can pick this file up
* If this doesn't work we do not need to include the `.d.ts` file (confirmed it does not impact build, treeshaking or type checking.

[2021-09-27 21:45] scbedd commented on #763
We should be able to confirm the inclusion of the `typedoc.js` manually later today. If that fix gets published to a public dev feed we will be able to test it directly!

[2021-09-27 21:55] prprabhu-ms commented on #824
Thanks a lot for filing this bug. I'll take a look shortly.

[2021-09-27 22:14] prprabhu-ms commented on #766
Reverse link to internal bug: https://skype.visualstudio.com/SPOOL/_workitems/edit/2582493

This bug has been fixed in alpha. The fix should be released as beta.6

Assigning to myself for tracking.

[2021-09-27 22:33] JamesBurnside commented on #763
Oh great, published to our npm dev feed: (`@azure/communication-react@dev`) https://www.npmjs.com/package/@azure/communication-react/v/1.0.0-alpha-20210927.2200.0

[2021-09-28 00:43] scbedd commented on #763
It's definitely targeted at `dist` right now. Here's the [commit to adjust targeting.](https://github.com/MicrosoftDocs/azure-docs-sdk-node/commit/6ca97f117bb920e99038e32f8b0fe809978ee314)

[2021-09-28 00:50] DominikMe commented on #763
Late to the party.

I would assume we only want one .d.ts file in the bundled package @JamesBurnside. Best to toy around with it in VS Code and see how intellisense deals with it. If there are multiple .d.ts, TS intellisense will probably to declaration merging, so you won't even recognize duplicates.

[2021-09-28 04:51] prprabhu-ms commented on #763
We're only marking the symbols *in the package-public API* with @internal if it isn't intended to be public. So, if we're currently scraping symbols exported from modules deep in the packlets, that won't be fixed.

[2021-09-28 15:36] JamesBurnside commented on #763
Aren't we marking every exported function as either `@public`, `@internal` or `@private`?

[2021-09-29 21:36] iMicknl commented on #553
@mgamis-msft could it be that this issue is here again? I can still reproduce it on my environment.

`"@azure/communication-react": "^1.0.0-alpha-20210929.10.0",`

[2021-10-06 15:57] ikumarapeli-msft opened #887 "Anonymous user removal difficulties"
- Chat thread has 250 user limit
- When using anonymous users, they leave the call, but they don't leave the chat
- We need a way to remove users who are one time users to ensure we don't reach the chat limit.
- meeting adapter has the chat adapter, but it is not properly exposed.

[2021-10-06 16:50] prprabhu-ms commented on #887
Thanks for filing this bug.

Could you confirm that I understand your problem correctly: You have a Teams meeting that you're adding ACS users to. When you remove those users from the Teams meeting, they're still left behind in the chat thread. And hence you hit the 250 participant chat participants limit.

[2021-10-06 17:19] JamesBurnside commented on #887
I was chatting to @ikumarapeli-msft yesterday about this and asked to file the issue here so we could get more eyes on this.

There's three issues here:
1. Creating a chatAdapter with the same user token doesn't show all participants with access to that chat
1. Meeting adapter exposes `participants`. But this is just the call participants and the chat thread could still have participants that aren

[2021-10-12 15:58] JamesBurnside commented on #763
This is now resolved. DCOM api no longer has duplicates or internal-only interfaces: https://docs.microsoft.com/en-us/javascript/api/@azure/communication-react/?view=azure-node-latest

[2021-10-12 16:04] #605 closed

[2021-10-12 16:09] JamesBurnside commented on #887
Tracking this as a new item of work in ADO: https://skype.visualstudio.com/SPOOL/_workitems/edit/2614142

[2021-10-15 19:00] anujb-msft opened #939 "Height/Width should be 100% in Quickstart or Generated Boilerplate"
Height/Width should be 100% in Quickstart or Generated Boilerplate

**Describe the bug; what happened?**
The Composite Quickstart experience does not automatically adjust the React app styling to expand too 100% height/width

**What are the steps to reproduce the issue?**
Follow the quickstart here
https://azure.github.io/communication-ui-library/?path=/story/quickstarts-composites--page

And achi

[2021-10-15 19:03] JamesBurnside commented on #939
We have this mentioned in the storybook here: https://azure.github.io/communication-ui-library/?path=/docs/composites-call-basicexample--basic-example#styling

We're not allowed to set these properties by default as we can't be adjusting elements outside of the compsite.
One option would be a flag in the composite itself - `expandToFillScreen` that then did touch those properties?

But very open t

[2021-10-18 21:13] alkwa-msft opened #942 "Upgrade ACS calling sdk to 1.2.2-beta.1"
**What feature are you requesting?**
https://www.npmjs.com/package/@azure/communication-calling/v/1.2.2-beta.1

**What would be the benefit of adding this feature?**
Getting the latest and greatest that the calling sdk has to offer

[2021-10-19 17:47] #942 closed, assigned to mgamis-msft

[2021-10-21 15:19] alkwa-msft opened #957 "Upgrade Calling SDK to 1.2.3-beta.1"

[2021-10-22 17:26] #957 closed, assigned to mgamis-msft

[2021-10-27 20:10] nirmal2698 opened #993 "CallComposite not working properly in Composites Quickstart"
**Describe the bug; what happened?**
While performing the Quickstart of Composites, after clicking on the start call button, an "Initializing call client" loader is loading continuously, thus not able to see the call interface/video tile.

**What are the steps to reproduce the issue?**
Follow the quickstart here
https://azure.github.io/communication-ui-library/?path=/story/quickstarts-composites--

[2021-10-27 21:46] pablo-meyer opened #994 "Adding Support for Angular"
This is awesome but it seems like everything here is tailored around react. Can/Will this be provided in angular or somehow in pure html/css/javascript?

[2021-10-28 14:33] alkwa-msft opened #1000 "Make Meetings composite available without requiring React"
**What feature are you requesting?**
^topic. Today we expose Chat composite and Calling composite. Perhaps in the future we should explore Meetings composite as well.

**What would be the benefit of adding this feature?**
Customers want to be able to use the Meetings composite but they are not necessarily using React.

**What solution would be ideal for you?**
A similar API to what we offer from a

[2021-10-29 22:29] pablo-meyer opened #1009 "callInvitationURL Not working"
Not sure if this is a bug. But the callInvitationURL isnt working in the callComposite.  How is this supposed to work? I couldn't find any documentation.

[2021-11-03 15:35] alkwa-msft commented on #1009
The string you provide to this prop will get copied into the users clipboard when they click on this button when clicking on participants.

![image](https://user-images.githubusercontent.com/79329532/140092035-772c073a-a111-4680-9cde-47ee9648cfa9.png)

The scenario assumes that using this URL will allow other users to join the same call. So this is a great way to get the URL to share to a colleagu

[2021-11-03 16:24] #824 closed

[2021-11-03 16:26] alkwa-msft commented on #775
It looks like both the flyout menu and react-fullscreen use fixed positioning in order to achieve their goals. This creates collisions. @harrychy8

https://github.com/microsoft/fluentui/issues/2178

[2021-11-03 19:06] pablo-meyer commented on #1009
@alkwa-msft  Understood.  However it doesn't seem to work.  I've setup a callInvitationURL and I don't get the "Copy Invite link" option under "participants"

Note: using the stand alone:

  <script src="https://github.com/Azure/communication-ui-library/releases/latest/download/callComposite.js"></script>

Side question.  Can I find documentation on this call composite script file?

[2021-11-03 19:27] alkwa-msft commented on #1009
For trying out the callInvitationUrl can you try using our story that lets you try using the composite in storybook?

https://azure.github.io/communication-ui-library/?path=/story/composites-call-basicexample--basic-example

[2021-11-03 20:16] alkwa-msft commented on #1009
We should definitely fix those. Thanks for sharing those details.

[2021-11-03 21:04] pablo-meyer opened #1030 "Getting error when trying to create call adapter on first attempt"
When trying to create a call adapter using the call composite (https://github.com/Azure/communication-ui-library/releases/latest/download/callComposite.js) we are getting error on the first attempt (when using a previously unused groupId)  On subsequent attempts we get no error and the composite works as excepted.

[code]

Error:
[code]

- OS & Device: Windows
- Browser: Google Chrome,

[2021-11-05 12:25] pablo-meyer commented on #1030
@alkwa-msft  Any chance you could help with this?

[2021-11-05 15:52] #1009 closed

[2021-11-05 15:53] alkwa-msft commented on #775
This issue is stale and we will close it. If others feel strongly about this issue we can re-open it and look further into this.

[2021-11-05 15:59] #939 closed

[2021-11-05 16:21] rceraline commented on #994
Hi,

Angular support would be great. In the meantime, I've tried the pure html/css/javascript for call composite and it works fine.

@alkwa-msft  My question is related to localization. How do we use the localization provider as described [here](https://azure.github.io/communication-ui-library/?path=/story/localization--page) without react?

Thanks,

[2021-11-05 17:06] alkwa-msft commented on #994
@PorterNan  can we wrap the localizationProvider around the component we expose through the vanillaJS bundle?

A problem I foresee is that we can't treeshake and this bundle would include string for every locale?

@rceraline if we exposed the structure of local strings we are expecting would you be able to pass in a JSON with the locale strings that we expect to use?

[2021-11-05 17:10] rceraline commented on #994
@alkwa-msft the best would be to be able to change the language easily as explained in the react doc but in the meantime yes, we I can pass a JSON with the locale strings it would already be OK for me.

[2021-11-08 13:41] rceraline opened #1041 "Missing some translation in French"
I use callComposite in a non react environment. In order to translate the component in French, I followed the documentation [Build your own composite js bundle files](https://azure.github.io/communication-ui-library/?path=/docs/use-composite-in-non-react-environment--page#build-your-own-composite-js-bundle-files) and added the locale property.

The code looks like the following:
[code]

I was able

[2021-11-08 13:42] rceraline commented on #994
Hi @alkwa-msft, I was able to translate the component but it seems that some translations are missing. I created a new issue to explain: https://github.com/Azure/communication-ui-library/issues/1041

[2021-11-08 17:30] pablo-meyer commented on #1030
@alkwa-msft Any chance we know what wrong? Or am I doing something wrong?

[2021-11-08 21:09] anjulgarg commented on #1041
Hi @rceraline
Thanks for bringing this to our attention.

We will be adding the missing translations to the package in our next beta release i.e., 1.0.0-beta.8
You should also be able to see the translated strings in our nightly alpha release in a couple of days once the following PR goes in https://github.com/Azure/communication-ui-library/pull/1047

[2021-11-08 21:34] #1041 closed

[2021-11-08 21:50] anjulgarg commented on #1030
Hi @pablo-meyer
We will need more information to understand the exact issue.
From the error, it seems like you are trying to create the call agent multiple times on the same page.

What do you mean by "subsequent attempts"?
Are you refreshing the page?

[2021-11-08 22:05] pablo-meyer commented on #1030
Hi @anjulgarg, thanks for the help. No I'm not thing to create the agent multiple times, only once.  And the error happens the first time I use a groupId (guid that I create).  If I refresh the page and use the same guid then it works.  If I again input a brand new guid I get the error and it breaks.

[2021-11-08 22:18] anjulgarg commented on #1030
Please take a look at the working sample using `callComposite.js` here
https://github.com/Azure/communication-ui-library/blob/main/samples/StaticHtmlComposites/index.html

Could you ensure that you are not missing something in your implementation?
I would advise running this sample locally as well and see if the problem happens again.

[2021-11-08 22:23] anjulgarg commented on #994
Closing this issue as all the concerns have either been resolved or new items have been created to resolve them in the future.

[2021-11-08 22:23] #994 closed

[2021-11-08 22:24] anjulgarg commented on #993
Closing this issue due to inactivity.

[2021-11-08 22:24] #993 closed

[2021-11-09 13:44] rceraline opened #1057 "Is there a way to be informed that the call is started?"
Hi,

I am using callComposite without react. I can easily be informed when the call is ended with this event.
[code]
Is there something similar but when the call is started, after the user clicks on the button "start call"?

Thanks,
Rémi

[2021-11-09 19:54] anjulgarg commented on #1057
Hi @rceraline, that's a good question. There is no direct event that you can subscribe to for identifying if a call has started.
However, you can use the following code to achieve this.
[code]

@PorterNan Please correct me if I am missing something?

[2021-11-09 21:11] rceraline commented on #1057
Thanks @anjulgarg, that would do the job

[2021-11-09 21:11] #1057 closed

[2021-11-14 14:22] rceraline opened #1121 "Local video not working on iOS"
Hi,

We are using callComposite without react. The integration was pretty straightforward but after testing on different devices, we realize that the local video is not working on iPhone or iPad. It works fine on Android. How could we fix this?

Thanks,
Rémi

![image](https://user-images.githubusercontent.com/3820705/141685137-02f2a2e7-1774-4f39-b45b-b57587a53196.png)

[2021-11-15 22:52] rceraline opened #1088 "Local video not working on iOS"
Hi,

We are using callComposite without react. The integration was pretty straightforward but after testing on different devices, we realize that the local video is not working on iPhone or iPad. It works fine on Android. How could we fix this?

Thanks,
Rémi

![image](https://user-images.githubusercontent.com/3820705/141865352-cc554b78-a1f0-4c7d-90dd-c2926bae9f41.png)

[2021-11-15 23:50] anjulgarg commented on #1088
What version of iOS is your test device using?
We know that versions 15 and greater are experiencing this bug.

[2021-11-16 00:46] rceraline commented on #1088
Hi @anjulgarg, this test was done on iOS 14.7.1.

[2021-11-16 02:09] ddematheu2 commented on #1088
What browser where you using? (We have limitations on Chrome and Edge). Only Safari support the full set of capabilities.

[2021-11-16 02:55] rceraline commented on #1088
Hi @ddematheu2, I was using safari.

[2021-11-18 19:57] rceraline commented on #1088
Any news on this? @anjulgarg @ddematheu2?

[2021-11-18 23:32] ddematheu2 commented on #1121
Closing as it is a dupe.

[2021-11-18 23:32] #1121 closed

[2021-11-22 19:05] alcail commented on #1088
Thanks for reaching out, @rceraline .
I'm wondering if you could update your package to our latest one and see if it still repro'es.
We fixed a bunched of issues and this one seems to be in it.
We tried to repro your issue on our side but were unable to do it so far with the latest package.
Let us know how it goes.
Thanks

[2021-11-22 22:02] alcail opened #1137 "messages not always retrieved in Chat (Non-React)"
**Describe the bug; what happened?**

Copy from IcM https://portal.microsofticm.com/imp/v3/incidents/details/273222048/home

**Issue:**

The customer has implemented the JavaScript Chat SDK with UI Composites (Non-React)
The issue they're facing is that historical messages are not always being displayed when switching between users in an existing chat.
Here below the link for reference the custome

[2021-11-22 23:45] alcail commented on #1137
created bug https://skype.visualstudio.com/SPOOL/_workitems/edit/2653046

[2021-11-23 19:04] ddematheu2 opened #1144 "Meeting Composite shows weird message when recording starts during Teams meeting"
When you start recording on a Teams meeting, the meeting composite shows a weird message.

![image](https://user-images.githubusercontent.com/43075365/143087568-b28a2b05-a862-41c3-8cd5-703dfdf60518.png)

1. Start a teams call
2. Connect to the teams call with the meeting composite
3. start recording on teams call
4. open chat on meeting composite

**What behavior did you expect?**
Message should r

[2021-11-24 01:49] #1144 closed

[2021-11-24 19:14] rceraline commented on #1088
Hi @alcail,
I did some tests with this package: 1.0.0-alpha-20211120.0011.0.
I have the same problem on iOS. Local video is still not working. Everything is fine on Android.
Was I using the right version?
Thanks

[2021-11-25 19:00] alcail commented on #1088
Thanks for the update.
The fix was in on the 18th, and we can't seem to repro this issue on our side.
We are still investigating though and will also reach out to the Calling SDK team to see what's happening here.
We'll keep you updated as soon as we have an answer for your issue.

[2021-11-30 18:53] anjulgarg commented on #1030
Closing this issue due to inactivity.

[2021-11-30 18:53] #1030 closed

[2021-12-03 15:27] Jcodevisible commented on #1137
Hi can we please get the workaround posted here for visibility?

[2021-12-03 17:45] alcail commented on #1137
Customers are reusing the Chat composite React component and when they close chat pane, the adapter is gone but chat composite isn't.
So the next time they use it the Chat composite won't call adapter.initial() because React think the chat composite is good to go.
Customers will need call adapter.initial() again.
We will add better documentation on this.

[2021-12-14 17:38] github-actions[bot] opened #1249 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2021-12-15 17:05] JamesBurnside commented on #1249
Transient failure, closing

[2021-12-15 17:05] #1249 closed

[2021-12-29 19:25] anjulgarg commented on #1088
@rceraline Did you try the GA version of our library?
Could you confirm if this issue has been fixed?

[2021-12-31 16:59] rceraline commented on #1088
Hi @anjulgarg, I tested the last version but it didn't work. It was actually worst. I must have used the wrong version.

Here what I did:

1. Fetch the last commit on main ![image](https://user-images.githubusercontent.com/3820705/147832659-c590e811-bead-451d-9af5-30bda3334d04.png)
2. Build the callComposite file in English and French with the command `rush build`. I had to change the rush.json fi

[2022-01-13 06:17] aakashbhardwaj619 opened #1301 "The Control Bar Buttons do not render in a SharePoint Framework project"
**Describe the bug; what happened?****
The Control Bar Buttons like **MicrophoneButton**, **ScreenShareButton**, and **SendBox** buttons do not render in a [SharePoint Framework](https://docs.microsoft.com/en-us/sharepoint/dev/spfx/sharepoint-framework-overview) 1.13.1** project. The project is using **Node 14.17.0** and **TypeScript v3.9** ([Reference](https://docs.microsoft.com/en-us/sharepoint/

[2022-01-13 22:00] JamesBurnside commented on #1301
Hi @aakashbhardwaj619 to help you further I believe we'll need to be able to repro your scenario. Could you provide instructions for how to set up a framework site to repro this issue?
For example what parameters should we plug into the yo command:
![image](https://user-images.githubusercontent.com/2684369/149415634-380a835e-537e-4d6c-875c-3af0c4b2eb46.png)
And then how can we see the code running

[2022-01-14 09:21] aakashbhardwaj619 commented on #1301
Hi @JamesBurnside It's an SPFx Application Customizer extension. I've also uploaded my solution to [this repo](https://github.com/aakashbhardwaj619/spfx-acs-ui-extension) so you can clone it and follow the steps mentioned [here](https://github.com/aakashbhardwaj619/spfx-acs-ui-extension#minimal-path-to-awesome) to reproduce the issue.

[2022-01-21 01:14] github-actions[bot] opened #1342 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-01-21 14:58] JamesBurnside commented on #1342
Failing build: https://github.com/Azure/communication-ui-library/actions/runs/1726417559
Looks like a transient rush install failure - re-running CI: https://github.com/Azure/communication-ui-library/actions/runs/1729291823

[2022-01-21 15:40] JamesBurnside commented on #1342
Subsequent CI passed. Closing issue due to transient rush install failure.

[2022-01-21 15:40] #1342 closed

[2022-01-21 18:29] rodrigo102195 opened #1344 "Unexpected type of message in a meeting"
**Context:** We have a notification on the button chat of the meeting control. And this notification is triggered when a new message comes from someone else. So, we figured out that when a recording begin, new special messages comes. These messages are not rendered in the chat by the library but we are tracking all the messages to know if we have to show a notification on the button chat. The prob

[2022-01-21 22:12] JamesBurnside commented on #1344
This is an awesome feature! We are actually currently planning to add a very similar feature for the stable release of the MeetingComposite so stay tuned 🤞

For your implementation you are correct there needs to be a better way to filter the incoming chat messages. We'll investigate if that's currently possible given the information the  [Chat SDK](https://docs.microsoft.com/en-us/azure/communicat

[2022-01-28 19:19] JamesBurnside commented on #1344
Just an update on this issue. We are actively discussing this issue with the Azure Communication Chat SDK team to provide a proper solution.

In the meantime, one mitigation is to filter out these messages is by ignoring 'text' messages with an empty `senderDisplayName`:
![image](https://user-images.githubusercontent.com/2684369/151607852-3c8ab6ba-d2e6-4352-8a0d-dc2bd9c40185.png)
This is what the

[2022-01-31 17:41] rodrigo102195 commented on #1344
Thank you for the update!
I'll discuss this fix with the team.

[2022-02-01 22:28] github-actions[bot] opened #1414 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-02-01 22:43] JamesBurnside commented on #1414
Rotating resource connection string key.

[2022-02-01 22:43] #1414 closed

[2022-02-01 23:34] github-actions[bot] opened #1415 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-02-01 23:36] JamesBurnside commented on #1415
Resource connection string issue. Reupdated the secret. Closing this and will run a CI on main to confirm

[2022-02-01 23:36] #1415 closed

[2022-02-01 23:36] JamesBurnside commented on #1415
https://github.com/Azure/communication-ui-library/actions/runs/1781288008

[2022-02-04 03:25] Maki0301 opened #1425 "Enter key behavior in chat composites"
When I type a chat message, I press the Enter key to confirm the conversion in Japanese input, but if I do that in Chrome and Safari on the Mac, the message is sent.
In Japanese input, I have to press Enter several times to confirm the conversion, but I'm hoping that the Enter key after confirmation will send the message.
In Windows, it works as expected.

[2022-02-08 12:15] aakashbhardwaj619 commented on #1301
Hi, @mgamis-msft! Sorry for the late response as I was occupied with a couple of high-priority tasks. I tried to add the code change but it is giving the below build error. Do I need to add some imports or any other packages?
![ACSIconError](https://user-images.githubusercontent.com/33526902/152985071-e4a97449-75ab-44a6-8467-1e9e4bc857c7.png)

I had copied the files from my original solution into

[2022-02-09 23:35] dmceachernmsft commented on #1425
Hi Maki! I was hoping to get some clarification into your issue. When you talk about 'confirming the conversion' are you referring to a software keyboard typing in Japanese? I was also wondering which platforms you were encountering this issue? it isn't immediately clear which browser is giving you trouble.

[2022-02-10 09:43] Maki0301 commented on #1425
Thank you.
It seems to me that software keyboard refers to a virtual keyboard that is displayed on the PC screen, or does it refer to Japanese input?
 I am sorry I don't know the exact English, but it is the keyboard we use everyday to input Japanese.

I consider it to be the same thing as described on this site (https://blog.utgw.net/entry/2021/06/29/212256).

I tested this on a MacBook Pro (macO

[2022-02-10 19:22] dmceachernmsft commented on #1425
Thank you for the video! From what I am seeing here is that you are finished typing words in your tool and pressing enter to put them in the message bar but is sending the message before it is completed?

[2022-02-10 21:18] dmceachernmsft commented on #1425
https://user-images.githubusercontent.com/94866715/153497331-d958d446-b290-4ba1-ad86-dca9aea61304.mp4

Hi Maki, attached is a video on how to see the different events coming from the input box. the steps are as follows:

1. in the sample chat app or story book open up your dev tools
2. select the pick a element tool in the top corner
3. with your mouse select your input bar
4. open the console in

[2022-02-14 12:05] Maki0301 commented on #1425
If we add the following in the component code, it will do what we want it to do.
InputBoxComponent.tsx
[code]

 However, "keyCode" is deprecated.

[2022-02-14 17:18] dmceachernmsft commented on #1425
Thanks for the code snippet Maki, looking into what this does I discovered that on mac this isn't just an issue for you but this is a known issue on mac for a few other languages as well! I will look into adding this and seeing about the deprecated use of keycode. Will keep you updated when this is fixed!

[2022-02-14 23:06] anjulgarg commented on #1000
@alkwa-msft Can we close this issue now that we have the static html samples in place?

[2022-02-14 23:06] anjulgarg commented on #1088
Hi @rceraline can you confirm if this was fixed with the latest version?

[2022-02-14 23:10] anjulgarg commented on #1301
Hi @aakashbhardwaj619 You will need to import `DEFAULT_COMPONENT_ICONS` from `@azure/communication-react`

[2022-02-14 23:15] anjulgarg commented on #1344
Hi @rodrigo102195
Did the suggested fix work for you?

[2022-02-15 03:18] Maki0301 commented on #1425
Thank you for your support.
if ((ev.nativeEvent as KeyboardEvent).isComposing) {
        return;
}
This code gave us the behavior we wanted in Chrome on Mac.
However, it did not give us the expected behavior in Safari on Mac.

[2022-02-15 18:00] dmceachernmsft commented on #1425
Thanks for letting me know Maki! WIll double check on our end that the behavior on safari is correct and let you know what we find!

Thank you again for raising the issue and pointing us to the isComposing prop on the keyboard events! we've passed the findings off to fluent so that hopefully this wont be a issue on other input boxes in other apps in the future. So thank you very much for your insi

[2022-02-16 16:50] #1425 closed

[2022-02-16 19:34] alkwa-msft commented on #1344
I am closing this issue due to inactivity. Please feel free to re-open if there is more to discuss on this issue.

[2022-02-16 19:34] #1344 closed

[2022-02-16 20:19] alkwa-msft commented on #1137
The work-around for this fix is to supply a react "key". We suggest using `new Date()` as this will always yield a fairly unique value.

![image](https://user-images.githubusercontent.com/79329532/154350178-9335e5e7-e0c9-4914-b7c4-2c43abdc151c.png)

[2022-02-16 20:19] #1137 closed

[2022-02-16 20:23] alkwa-msft commented on #1000
@anjulgarg sounds good to me.

[2022-02-16 20:23] #1000 closed

[2022-02-16 20:27] alkwa-msft commented on #887
Closing due to inactivity. This is a legit issue with creating a meeting experience with Azure Communication Services. However removing users should really be done on the server side and not on the front-end.

[2022-02-16 20:27] #887 closed

[2022-02-16 20:28] alkwa-msft commented on #1088
@rceraline my apologies that this is still an issue.

I was wondering if you can share a repo or any videos of what you are seeing. If we don't get any response we will most likely be closing this issue if we are unable to repro or get anything else to continue this investigation.

[2022-02-16 20:53] JamesBurnside commented on #1000
Note: we do not have one yet for CallWithChatComposite

[2022-02-16 21:08] rceraline commented on #1088
Hi @anjulgarg and @alkwa-msft!

Thank you for your message. I didn't test the latest version yet. I plan  to do it tomorrow. As soon as it's done I'll get back to you.

Is the latest version PublicPreview 1.0.1-beta.2?

Thanks.

[2022-02-17 11:41] aakashbhardwaj619 commented on #1301
Thanks, @anjulgarg! The Control Bar icons work now after adding the below lines:

[code]

[2022-02-17 11:41] #1301 closed

[2022-02-17 20:49] alkwa-msft commented on #1088
I believe that is correct. Thanks for staying engaged with us and we want to help out if we can!

[2022-02-18 13:02] rceraline commented on #1088
I tested the latest version on iPad and I was getting the same error. It is impossible to even have a call. It works fine on desktop.

Information on the device I was using:

Device type | Browser |  
Device model | iPad |  
Operating system | iOS 15.1 |  
Browser version | Chrome Mobile iOS 98.0 |

[2022-02-18 13:43] rceraline commented on #1088
I just updated the iPad to iOS 15.3.1. Now I can have a call but the local video on the iPad is still not working.

[2022-02-18 17:28] dmceachernmsft commented on #1425
Hi Maki I apologize I didn't follow up with this sooner! Some digging has revealed that Apple does not play nice with React. Safari unfortunately does not support the event type InputEvent, something that React fires for all of its events which are wrapped up as synthetic events. Since this is not supported by Apple and Safari this is something we don't have a good fix for.

We will be looking int

[2022-02-18 19:59] anjulgarg commented on #1088
Hello @rceraline
We tested the call composite  without react in an iPad running iOS v15.3.0 and were able to run it without any issues. Local video preview is also visible
![MicrosoftTeams-image (10)](https://user-images.githubusercontent.com/9782747/154753089-9ceb76af-d521-4d7a-b4f3-1665ba62f904.png)

[2022-02-18 20:08] rceraline commented on #1088
Hi @anjulgarg,

Thank you for your answer. May I have access to some code. It could help comparing with mine.

In the meantime, here is a sample of my code. It is in an Angular project:

1. I load the callComposite file that I compiled as described in my previous comment. I do this to support different languages.
2. I initialize the callAdapter with loadCallComposite method.

Am I doing anything w

[2022-02-18 20:09] anjulgarg commented on #1088
While I go through this code, do you mind trying the non-react sample in our github repo in your iPad
https://github.com/Azure/communication-ui-library/tree/main/samples/StaticHtmlComposites

[2022-02-18 21:07] anjulgarg commented on #1088
That's the correct one @rceraline

[2022-02-19 16:36] rceraline commented on #1088
Hi @anjulgarg, I was not able to figure out how to deploy your solution to an Azure app service in order to test on my iPad. Do you have some instructions explaining how I could do this?

[2022-02-22 23:06] anjulgarg commented on #1088
Hi @rceraline StaticHtmlComposites example relies on a server (in the same directory) too.
You would need to host the StaticHtmlComposites sample and server separately.
Static html can be hosted on azure using these docs https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website

You can build and host the server using an azure app service.
https://docs.microsoft.com/en-us/az

[2022-02-23 04:26] cherchyk opened #1525 "Cannot exit storybook when in full screen"
on https://azure.github.io/communication-ui-library/?path=/docs/overview--page
I pressed "go full screen"
and there is no way to get back of the "full screen"

Chrome Browser 32" screen

- OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
- Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
- Version [e.g. 1.8.0]

**Is there any additional information?**

[2022-02-23 04:43] cherchyk opened #1526 "hide addons"
on https://azure.github.io/communication-ui-library/?path=/story/ui-components-videotile--video-tile&globals=theme:Dark;customTheme:
I pressed "Hide addons"

there is no way to get addons back.

- OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
- Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
- Version [e.g. 1.8.0]

**Is there any additional informatio

[2022-02-23 12:16] rceraline commented on #1088
Hi @anjulgarg, thank you for the instructions. Actually, I was wondering if you guys already have this hosted somewhere, it would be easier for me to test. Do you have something like this?

[2022-02-23 15:38] carocao-msft commented on #1525
Ok I'm looking into this!

[2022-02-23 15:38] carocao-msft commented on #1526
Ok I'm looking into this!

[2022-02-23 15:42] carocao-msft commented on #1526
If you click on the 3 dots here, you can toggle showing and hiding addons by clicking 'show addons'
<img width="214" alt="Screen Shot 2022-02-23 at 10 41 35 AM" src="https://user-images.githubusercontent.com/96077406/155353746-22f59b2f-32a7-4939-aab8-2dd3503581b1.png">

[2022-02-23 17:40] carocao-msft commented on #1525
Hi, I have merged a PR to enable keyboard shortcuts for the storybook. Now you can use keyboard shortcuts (F) to enter and exit full-screen mode :)

[2022-02-23 18:14] anjulgarg commented on #1088
We don't have something that's already hosted I am afraid. Might be easier to run this locally and tunnel it via ngrok for testing it in your ipad? @rceraline

[2022-02-28 18:36] anjulgarg commented on #1088
@rceraline You only need to ngrok the frontend app and not the server.

[2022-03-01 03:29] JamesBurnside commented on #1525
Adding on to this issue, the keyboard fix definitely helps but is undiscoverable for users who enter fullscreen via the UI interface. We either need to:
* Ensure a "close" UI button is shown when in fullscreen to go back to non-fullscreen (better)
* Remove the fullscreen functionality

Storybook by default does show a close button when in fullscreen:
![image](https://user-images.githubusercontent.

[2022-03-01 18:46] danieljurek opened #1568 "Ref Docs CI fails on @azure/communication-react@1.0.1"
Moving from https://github.com/Azure/azure-sdk-for-js/issues/20574

Docs are generated for version 1.0.0 until this is fixed.

Example build: https://apidrop.visualstudio.com/Content%20CI/_build/results?buildId=279861&view=logs&j=fd490c07-0b22-5182-fac9-6d67fe1e939b&t=ce91d5d6-0c55-50f5-8ab9-6695c03ab102

Error:

[code]

Process:

1. Fix the issue with docs CI
2. Remove the entry for `@azure/commu

[2022-03-01 18:49] danieljurek commented on #1568
Continuing here... I'll check with the docs team to see if we can get more logs in the CI process to get a better picture of what's happening here.

[2022-03-01 18:50] anjulgarg commented on #1088
Hi @rceraline, you only need to tunnel the the IP:Port running the frontend code and open it in your ipad.
No need to tunnel the server

[2022-03-01 18:57] rceraline commented on #1088
Thanks @anjulgarg, I'll try this soon and let you know how it goes.

[2022-03-01 21:36] JamesBurnside commented on #1568
The DCOM build system uses npm7 so the npm install will fail without `--legacy-peer-deps`, however DCOM does not support a way to pass this flag in for just our package - we need to resolve our peer dependency conflict issue.

This issue is blocked on: https://github.com/microsoft/fluentui/issues/21082

[2022-03-03 23:22] JamesBurnside commented on #1525
Fix has now been deployed to https://aka.ms/acsstorybook as part of 1.1.1-beta.1 deployment. Closing this issue. Thanks @cherchyk for bringing this issue up!

[2022-03-03 23:22] #1525 closed

[2022-03-04 20:33] github-actions[bot] opened #1596 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-03-04 20:34] JamesBurnside commented on #1596
Transient timeout:
![image](https://user-images.githubusercontent.com/2684369/156837597-247b8d28-8458-4c23-9b11-68dfe94efd29.png)
Rerunning. Closing this issue.

[2022-03-04 20:34] #1596 closed

[2022-03-12 15:22] rceraline commented on #1088
Hi @anjulgarg, I was finally able to test the sample with ngrok and it is working fine on the ipad. I'll compare my code with the sample to find a solution. Thanks for your help.

[2022-03-14 22:14] martinesmann opened #1650 "Video call experience in Communication ui library - CallComposite sample"
**Describe the bug; what happened?**
It is not always possible to see remote participants videos.
It is not always possible to share local video.

When using the Call Composite sample, https://azure.github.io/communication-ui-library/?path=/docs/composites-call-joinexistingcall--join-existing-call

**What are the steps to reproduce the issue?**
Preview https://azure.github.io/communication-ui-libr

[2022-03-15 11:06] willieburger34 commented on #1650
I am having the exact same issue - compiled the latest call composite. Can only see my own video and none of the other participants video.
Clicking on Show Participants in Mobile Form Factor crashes the component and the browser.

Tested in both Chrome and Edge

 btn.onclick=async ()=>{
            var dvParams = document.getElementById("dvParmaters");

            dvParams.style.display = 'none';

[2022-03-16 08:30] martinesmann commented on #1650
Hi @mgamis-msft
Thanks for following up on the issue. Let me try and clarify and be more precise in the description.

I used the sample code to join a group call/group id (a self picked guid) I did **not** join a Team's Call.
https://azure.github.io/communication-ui-library/?path=/docs/composites-call-joinexistingcall--join-existing-call.

To clarify 1)
I joined a group call (**not** a Teams call)

[2022-03-16 08:51] willieburger34 commented on #1650
Hi @mgamis-msft

I have managed to replicate the exact same issue using the single HTML file below. You can access the site using the link below.

https://bicsolxmediaxstxdev001.blob.core.windows.net/testvoip/TestCall.html

Below is what it looks like after both has joined to call from two different machines and enabled their cameras.

![image](https://user-images.githubusercontent.com/95677729/15

[2022-03-17 07:39] mgamis-msft commented on #1650
Thanks @martinesmann for the details. We are seeing the video streams not rendering with our samples when participants join in quick succession.

Thanks @willieburger34 for providing a sample for us. We are also seeing similar behavior here.

We are investigating the cause of this issue more deeply.

[2022-03-17 08:08] willieburger34 commented on #1650
Hi @mgamis-msft thank you so much. I will follow this thread :) Have a good day!

[2022-03-17 08:36] martinesmann commented on #1650
Thanks @mgamis-msft for looking into the issue. Please keep us updated on any progress :) Have a great day!

[2022-03-21 07:37] martinesmann commented on #1650
@mgamis-msft Is there any update og other information to share on the issue?
My client has moved into production with ACS service and use this ui framework and the users are starting to experience the issues and and reporting them to the clients customer support team.

[2022-03-21 16:04] alkwa-msft opened #1702 "Group calls using the UI Library can yield an unexpected rendering experience in the video gallery"
We have detected an issue in our calling backend that is causing our client code that manages client state to become inconsistent. This yields a calling experience in which some participants may not be able to see all participants on the call. We will have an update by EOD March 25, 2022 when the change is expected to be rolled out to our production clusters. We are sorry for the inconvenience and

[2022-03-21 17:18] mgamis-msft commented on #1650
@martinesmann I apologize for the delay on this issue. We currently are not able to work around the calling infrastructure issue on the client side in the meantime before March 25.

[2022-03-22 07:04] martinesmann commented on #1650
@mgamis-msft Thanks for the update and looking very much forward to the update on the 25th.
Will the fix include an update to the current ui library? I'm trying to prepare for any updates that may need to be done on my end.

[2022-03-23 09:52] m-muratori opened #1712 "VideoTile error in iOS Safari <=13.3"
**Describe the bug; what happened?**
On iOS Safari <=13.3 the VideoTile component raises an error when rendered. This occurs with or without an active video stream. A similar error occurs when VideoGallery is rendered.
With newer version of iOS ( >= 13.4) this error does not occur.

**What are the steps to reproduce the issue?**
Simply place a VideoTile or a VideoGallery component in the render tr

[2022-03-23 10:12] m-muratori opened #1713 "Admission failed when Teams meeting has a lobby feature"
**Describe the bug; what happened?**
On some devices (es. Huawei P9 Lite Android 9, Nexus 7 Android 6) when a user is admitted from the lobby the ACS client is automatically disconneted from the Teams meeting. If the meeting has the lobby disabled the user is admitted without problems.

**What are the steps to reproduce the issue?**
1. The guest user access the lobby
2. The meeting host admits the

[2022-03-24 18:27] anjulgarg commented on #1088
Awesome @rceraline
Closing this issue.
Feel free to open another issue if you face any more challenges.

[2022-03-24 18:27] #1088 closed

[2022-03-24 19:21] ddematheu2 opened #1720 "ChatComposite is missing messages sent when iOS in is background mode"
Moving to an issue.

### Discussed in https://github.com/Azure/communication-ui-library/discussions/1705

<div type='discussions-op-text'>

<sup>Originally posted by **DercilioFontes** March 22, 2022</sup>
Hi,

I would like to know if you guys have a solution to that problem. Everything is working fine, and thanks for the package.

The only problem I am facing and I couldn't find any help googling

[2022-03-24 21:58] mgamis-msft commented on #1650
@martinesmann Sorry for the slow response but there would be no update to the current ui library required,

[2022-03-25 20:39] prabhjot-msft commented on #1702
Bug has been fixed. Closing the issue.

[2022-03-25 20:39] #1702 closed

[2022-03-25 20:42] prabhjot-msft commented on #1650
The issue has been fixed and expected behaviour can be seen for the video calling. Feel free to open another issue if you face any other challenges.

[2022-03-25 20:43] prabhjot-msft commented on #1650
The issue has been fixed and expected behaviour can be seen for the video calling. Feel free to open another issue if you face any other challenges.

[2022-03-25 20:43] #1650 closed

[2022-03-25 21:43] DercilioFontes commented on #1720
Thanks, @ddematheu2.

I think it is an important issue.

So, for someone that can be facing the same issue and as an update, I got a solution adding a listener event to the app state change (when it is active again) and recreating the ChatAdapter and calling the `fetchInitialData` and `loadPreviousChatMessages`.

[2022-03-25 22:25] prabhjot-msft commented on #1713
@m-muratori could you please provide the Google Chrome version that is being used, there was a related bug which was fixed for 96+ versions.

[2022-03-25 22:33] prabhjot-msft commented on #1712
@m-muratori we are looking into the issue, will keep you posted.

[2022-03-25 23:00] prabhjot-msft commented on #1712
@m-muratori could you please provide call id or browser/console logs for the occurring issue?

[2022-03-28 07:26] m-muratori commented on #1713
Hi @prabhjot-msft, here the Chrome versions:
Nexus 7 - Chrome 96.0.4664.104
Huawei P9 Lite - Chrome 99.0.4844.73

[2022-03-28 20:31] prprabhu-ms commented on #1712
Thanks a lot for helping with the logs.

The exact problem encountered was:

[code]

The problem is that we depend on `ResizeObserver`, which supposedly works iOS 13.1+:  https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver#browser_compatibility

But MDN is sometimes off about exact browser versions that implement an API. Your experiments show that this isn't working for 13.3-.

But tur

[2022-03-28 20:32] prprabhu-ms commented on #1712
I'll close once we've updated our documentation to correctly reflect supported versions (drop stale reference iOS 13, link to actual modality documentation).

[2022-03-28 22:35] prprabhu-ms commented on #1713
Hi @m-muratori,

Thanks for filing the detailed issue and providing version info. The issue is unexpected in the browser versions you mentioned.
It'll help to get the call Id of a call that fails in this manner. Could you help reproduce this and grab the call Id?

Are you using one of our sample apps? If so, the callId is noted in the console log when the sample starts. If the issue occurs in your

[2022-03-29 08:44] m-muratori commented on #1713
Hi @prprabhu-ms,

this should be the CallId: **b056023a-acb7-4c5c-abed-84c7e530ba97**

And these are the errors I get:

![image](https://user-images.githubusercontent.com/26094189/160571119-e3c62818-bf0f-4220-bf21-7af21c377eaf.png)

[2022-03-29 16:40] #1712 closed

[2022-03-29 23:55] prprabhu-ms commented on #1713
Thanks a lot @m-muratori for helping me debug this issue.

I was able to get server-side logs with the callId you provided. I'm looking at this some more today and will get back to you soon.

[2022-03-30 20:20] prprabhu-ms commented on #1713
Update. I was able to get server-side logs for callId `b056023a-acb7-4c5c-abed-84c7e530ba97` . But from the server-side logs I see that only the Nexus 7 had a failed connect in that call. The error on Nexus 7 is expected -- there is a known issue in Chrome M96 and earlier that can cause this failure mode. The Azure Communication Services Calling SDK only supports the last 3 versions of Chrome (So

[2022-04-05 17:44] JamesBurnside commented on #1568
@danieljurek we have pushed a new version (1.2.0) with a fix to remove the conflicting peer deps. Can you try re-enabling the doc generation?

[2022-04-06 07:31] m-muratori commented on #1713
Hi @prprabhu-ms thanks for you time, I tried with the development team to reproduce the issue with the Hauwei P9 Lite and Chrome 99.0.4844.73 but surprisingly we were not able to reproduce the issue. Everything seems to work fine now, we were correctly admitted to the meeting.

[2022-04-06 18:58] danieljurek commented on #1568
Preliminary build testing shows success. I've opened a PR to fix: https://github.com/Azure/azure-sdk-for-js/pull/21252/files

[2022-04-07 22:53] alkwa-msft opened #1775 "alexTestIssue"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

- OS & Device: [e.g. MacOS, iOS, Windows, Linux] on [iPhone 7, PC]
- Browser [e.g. Microsoft Edge, Google Chrome, Apple Safari, Mozilla FireFox]
- Version [e.g. 1.8.0]

**Is there any additi

[2022-04-08 14:35] #1775 closed

[2022-04-08 16:10] JamesBurnside commented on #1568
Thanks for updating that @danieljurek! When should we see changes reflected in https://docs.microsoft.com/en-us/javascript/api/@azure/communication-react ?

[2022-04-19 17:11] #1713 closed

[2022-04-20 10:42] Kamaljeetsinghpunia opened #1810 "Compile time issues in Xcode using 'AzureCommunicationUI', '1.0.0-beta.2'"
Xcode is showing multiple compile time errors in the library 'AzureCommunicationUI', '1.0.0-beta.2'.

![Screenshot 2022-04-20 at 4 05 25 PM](https://user-images.githubusercontent.com/95396105/164213769-6270a217-69df-4e0d-b2eb-fd156109d835.png)

I am using Xcode 12.3 and swift language version 5

Library name and version is 'AzureCommunicationUI', '1.0.0-beta.2'

[2022-04-20 16:36] alkwa-msft commented on #1810
This issue is related to the ios UI Lib and using xcode. We have duplicated your issue into the correct repo and will be closing this specific issue.

https://github.com/Azure/communication-ui-library-ios/issues/134

[2022-04-20 16:36] #1810 closed

[2022-04-25 10:24] juaram2 opened #1828 "findDOMNode is deprecated in StrictMode"
**Describe the bug; what happened?**

console error: findDOMNode is deprecated in StrictMode

**What are the steps to reproduce the issue?**
createAdapter

**What behavior did you expect?**
I don't want to delete Strict mode No console error

**If applicable, provide screenshots:**
![image](https://user-images.githubusercontent.com/26706369/165070125-422ece4e-fbe6-44d6-b377-d14e528206e0.png)

**In

[2022-04-25 18:34] carocao-msft commented on #1828
Hi, this is a known issue from Fluent UI https://github.com/microsoft/fluentui/issues/19286, unfortunately there is nothing we can do on our end. A large fix is needed from Fluent UI react-northstar to resolve this warning. Let me know if there is anything else I can help with. Thanks for raising this issue! :)

[2022-05-04 20:45] github-actions[bot] opened #1855 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-05-05 13:26] sangeethav123 opened #1862 "Change of date format in every chat messages in chat composite"
By using cross-platform - Chat composite js bundle file (Azure communication services the UI Library) for chat, we are looking for more friendlier date time strings per message like MM/DD/YY, h:mm A (Ex: 04/27/22, 9:40 AM) instead of YYYY/MM/DD h:mm A(2022/05/05 6.30 p.m)

[2022-05-05 15:05] alkwa-msft commented on #1862
Thanks for logging this issue. Something we can start to look into. Do you have any suggestions on how you would envision this API to customize the date time format?

 An additional question.

 I am curious would you prefer this type of date format for every message or is it preferred to use terms like "Yesterday" to refer to 5/4/22 (in the case that today is 5/5/22 and the message was sent on the

[2022-05-05 18:11] carocao-msft commented on #1862
Hi，
Thanks for the additional information！ We will be posting a draft PR with some usage documentation to see if it matches your expectations :)

[2022-05-05 21:44] carocao-msft commented on #1862
Hi, we have created a draft PR for this issue, basically we added a new prop for MessageThread so you can pass in a function to format the timestamps in anyway you like. We have added an example about how to customize timestamp formats in this PR as well, located in storybook/message thread  https://github.com/Azure/communication-ui-library/pull/1863. Let me know if that resolves your issue :) Tha

[2022-05-06 06:02] sangeethav123 commented on #1862
Hi,

Thanks for the quick response and progress on #1862 issue!

I have gone through the #1863 PR.
Please correct me if I'm wrong, in that PR, time format is only customized but we need date format to be customized like MM/DD/YY and adding a comma between date and time (04/27/22, 9:40 AM). Is it possible to do that using sample code?

And, one more question.

Can I use that CustomizedFormatTimeSta

[2022-05-06 16:12] carocao-msft commented on #1862
Hi,
For the first question, yes we can customize both date and time. I will update the PR to include a sample of that.
For the second question, sorry I can't see the sample code you attached.

[2022-05-06 16:34] JamesBurnside commented on #1855
Transient rush install failure: https://github.com/Azure/communication-ui-library/runs/6296817965?check_suite_focus=true

[2022-05-06 16:34] #1855 closed

[2022-05-06 16:37] JamesBurnside commented on #1568
Closing as this looks to have been resolved with the fix to the conflicting peer deps.

[2022-05-06 16:37] #1568 closed

[2022-05-09 06:42] sangeethav123 commented on #1862
Hi, updated sample code in last comment. Please take a look on it.
Thanks!

[2022-05-10 17:03] carocao-msft commented on #1862
Hi, thanks for your snippet! We are going to take a closer look into it

[2022-05-10 22:47] harrychy8 opened #1873 "Issue when creating the adapter"
Hi team,

I have seen some issues on the customer end when creating the callAdapter.

- CallError: CallClient.createCallAgent: User stack init timeout
- CallClient.getDeviceManager: GetDeviceManager failed

I cannot repro it from my end, and I would like to know the reason that it happened.

My code:
[code]

[2022-05-11 01:10] levimiller-qhrtech opened #1876 "Add ability to pass in custom styles to composites"
**What feature are you requesting?**
The composite components are amazing and I love how it handles all the connection logic, but I can't use it because the styling is so rigid.

Could you please add a way to tweak the styles of the composite components?

**What would be the benefit of adding this feature?**
Our product requires the use of two fonts, one for headers and another for everything else

[2022-05-11 16:28] edwardlee-msft commented on #1873
Thank you for filing this issue @harrychy8. To help further investigate, do you happen to know if the errors are being seen by multiple users or if the same user is reporting both errors?

Are you able to provide client-side logs and/or a telemetry correlation ID?

[2022-05-11 18:38] harrychy8 commented on #1873
Thank you very much for your time and help!

[2022-05-11 20:29] edwardlee-msft commented on #1873
Thank you providing the log ids.
According to the Calling team the timeout is happening under network conditions that don't allow the sdk to initiate the stack properly within 25 seconds.

Are the customers experiencing network connectivity issues?

[2022-05-11 20:52] harrychy8 commented on #1873
Thank you for the fast reply!

I would not think so. 25 sec sounds very bad to me, even for a slow network. Plus the fact that 2% of our customer base is like about 100~people is experiencing this issue every week. Are there other possibilities?

Best,
Harry

[2022-05-12 17:29] edwardlee-msft commented on #1873
Hi @harrychy8,
Would you like to discuss further with the Calling team on a call? I can connect you as they would also like to continue this discussion.

[2022-05-12 18:07] harrychy8 commented on #1873
Hi @edwardlee-msft ,

That would be great! Please invite me to the call! Btw here is a detailed summary of data: for the past **7 days**, there were **3539 classes** that happened. out of them,

-  **40** got the "Failed to create call adapter - CallError: CallClient.getDeviceManager: GetDeviceManager failed"
-  **89** got the "Failed to create call adapter - CallError: CallClient.createCallAgent:

[2022-05-12 19:19] edwardlee-msft commented on #1873
Hi @harrychy8 , connected you with the Calling Team on Teams. Please let me know if you are able to see the @mention.

[2022-05-17 09:10] juandgarin opened #1900 "Support React 18"
When i try to install the library, it returns me an error indicating that there are dependencies that cant resolve.

Anyone with the same problem?

I think it is a React 18 issue

![Screenshot 2022-05-17 at 06 09 36](https://user-images.githubusercontent.com/62432378/168774913-9f4cbe9d-1507-4bb8-9d50-2826dcb40938.png)

[2022-05-17 11:24] paulnearney opened #1902 "Aspect ratio incorrect for local video in Video Gallery"
The aspect ratio for the local video feed is incorrect. It always shows stretched or compressed, and changes aspect ratio as the screen size changes. This is true whether the local window floats or is embedded in the grid.

The remote video feeds behave correctly and keep the correct aspect ratio as the screen size changes.

I see the same behaviour in the "ui-library-starting-with-calling-statefu

[2022-05-17 15:07] alkwa-msft opened #1903 "Chat examples in storybook don't set the parent width/height only on the message thread"
^Topic

This means that you need to scroll all the way to the bottom of the message thread to access the sendbox :(
In this example the parent container is around the message thread and the sendbox. Either the explicit width/height
should only be around the messageThread or we need to set a new parent container around the message thread exclusively
with an explicit width/height.

Context: MessageT

[2022-05-17 17:50] mgamis-msft commented on #1900
Hi @juandgarin, thank you for filing this issue. I will look into this today.

[2022-05-17 17:54] mgamis-msft commented on #1902
Hi @paulnearney, Thank you for filing this issue and the details. I will look into this today.

[2022-05-17 19:57] mgamis-msft commented on #1903
Thanks @alkwa-msft for filing this issue and the details. I will take a look at this today

[2022-05-18 00:24] mgamis-msft commented on #1900
Hi @juandgarin, our dependency on [fluent ui library](https://www.npmjs.com/package/@fluentui/react) restricts our package from using React 18 or higher. What is your use case for `backoffice_next@0.1.0`? Is it possible to use another version of backoffice that does not rely on React 18?

[2022-05-18 14:29] sangeethav123 opened #1905 "Customize location of date time in chat messages"
By using cross-platform - Chat composite js bundle file (Azure communication services the UI Library) for chat, we are looking to have own customization on the alignment for the date & time element.

For Example, I need the date and time to be at the bottom of every messages and on with Right Align for the sent message and the left Align for the received messages like below Image,
![Expected date

[2022-05-18 16:56] mgamis-msft commented on #1905
Hi @sangeethav123, thanks for filing this issue. I will do some investigation on whether customization is enough to achieve what you showed above or if a feature request is needed.

[2022-05-18 23:01] mgamis-msft commented on #1902
Hi @paulnearney,

I have a pull request to change the default video stream option for the local stream view to `{ scalingMode: 'Crop', isMirrored: true }`. It might take a while for you to see the changes on the next release.

But in the meantime, you can pass in these VideoStreamOptions to `localVideoViewOptions` prop of `VideoGallery` like so:
![Screenshot 2022-05-18 150839](https://user-images.

[2022-05-19 11:34] sangeethav123 commented on #1862
Hi,

I have gone through your PR for date time formatting and this is what we expected.
Can you please share me the sample code that how to use this within onRenderMessages or where to use it ?
FYI, you can check the previous conversation in which I have attached some screenshots that we have used!.

[2022-05-19 21:07] paulnearney commented on #1902
Fantastic, thanks - that fixed the issue

[2022-05-19 22:34] #1902 closed

[2022-05-19 23:45] #1903 closed

[2022-05-20 16:28] carocao-msft commented on #1862
Hi,
We still need some more discussion internally before we release this new feature for production use. A storybook snippet will be provided for this feature so you can see it in action. It will not be in onRenderMessages, will be passed in through locale.
I will update you once we can release this for production use! :)

[2022-05-20 19:15] mgamis-msft commented on #1905
Hi @sangeethav123, I just want to confirm if you were able to achieve the image above using the `onRenderMessage` prop of `MessageThread`. Could you give some example code that did not work in some case because CSS classes are dynamically generated? I created a repo where I used the `onRenderMessage` prop which you can try on your side [here](https://github.com/mgamis-msft/chat-with-custom-message

[2022-05-20 22:07] mgamis-msft commented on #1828
This issue has become stale. This can only be fixed in Fluent UI react-northstar or if we move out of using Fluent UI react-northstar in our `MessageThread` component which not in our plans right now. If others feel strongly about this issue we can re-open it.

[2022-05-20 22:07] #1828 closed

[2022-05-26 02:50] mgamis-msft commented on #1905
Hi @sangeethav123, I am not sure why the `text-align: right` is not being applied in some cases. Just looking at the screenshot of code you provided and I think there should be more code that extract `messageProps.message.createdOn` property to put it in some div outside the chat bubble. Do you have a `defaultOnRender` callback that handles this logic? There should be some logic that also uses the

[2022-05-26 06:27] sangeethav123 commented on #1905
Hi,

In the code screenshot for onRenderMessages, we have used messageProps.messageContainerStyle to modify the message container text color and background color. There we cannot apply **text-align: right** because it will make the **entire message** to be on **right alignment**.

We need only the date to be right aligned for message that we have sent(messageProps.message.mine) so we try to overri

[2022-05-26 23:10] prabhjot-msft commented on #1905
Hi @sangeethav123, sorry for the confusion about this issue. Normally, the date is rendered in message bubble when the `onRenderMessage` prop of `MessageThread` is not used and looks like below.
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/97124699/170593924-c1006229-4904-4e4d-ab33-1a95bc6fa63f.png)
We wanted to know how you were able to move the date of the message outsid

[2022-05-27 11:00] sangeethav123 commented on #1905
Hi,
We use CSS to move the date of the message outside the message bubble. I have attached screenshot below
![date bubble css](https://user-images.githubusercontent.com/97170459/170687176-3d351774-5a02-4acf-866d-596cf9626008.PNG)

[2022-05-30 20:58] prprabhu-ms commented on #1873
@edwardlee-msft @harrychy8

Housekeeping. Were we able to collect / forward feedback to the headless Calling team for this issue. Should we close this tracking issue (quality issues should be tracked internally as they do not relate to UI library directly, though I'm very happy that we were able to funnel the issues where they can be dealt with).

Once we know we are tracking these issues at a bet

[2022-05-30 21:01] prprabhu-ms commented on #1900
Hi @juandgarin I don't expect us to be able to lift the < React18 requirement easily at the moment (Fluentv8 recently moved to React 17, and I'm not aware of any plans to move beyond React18+)

Closing this issue as it is not currently actionable, but please feel free re-open with any more information / insight you have for the need for React 18+

[2022-05-30 21:04] harrychy8 commented on #1873
Thank you for reminding me! Yes we are tracking it internally and I am closing this issue now.

[2022-05-30 21:04] #1873 closed

[2022-05-30 21:04] prprabhu-ms commented on #1900
Actually, let's keep this open to track when FluentUI goes to React 18 and then this issue will be actionable: https://github.com/microsoft/fluentui/issues/22592

[2022-05-30 21:05] prprabhu-ms commented on #1900
It is still unclear if Fluentv8 will gain React18 support at all: https://github.com/microsoft/fluentui/issues/22592#issuecomment-1113633465

[2022-05-31 00:52] mgamis-msft commented on #1905
Hi @sangeethav, I think I understand the issue now. The dynamic CSS classes are provided by @fluentui/react-northstar a library we depend on for components to create our MessageThread component. So adding CSS styles to target class names of MessageThread elements will not work consistently.

I want start by saying we don't recommend using styling only to change the way messages look since it is di

[2022-05-31 08:09] sangeethav123 commented on #1905
Hi,
I have followed your code for onRenderMessages callback and its working fine now.
Thanks!

[2022-05-31 16:33] #1905 closed

[2022-05-31 21:38] github-actions[bot] opened #1944 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-06-01 09:40] sai0909 opened #1946 "UI Library - Local preview not working when we disable and enable it again - video stuck"
Link - https://azure.github.io/communication-ui-library/?path=/docs/examples-localpreview--local-preview

From the above link, When we disable the video and enable it again, it gets stuck.

[2022-06-01 09:43] sai0909 commented on #1900
I am also facing the same issue when I followed these steps. https://azure.github.io/communication-ui-library/?path=/docs/quickstarts-uicomponents--page

[2022-06-02 17:48] uharston opened #1951 "Add CallComposite for Teams Users"
**What feature are you requesting?**
I have been trying connect as with my Teams identity inside my custom application. I am using the '@azure/communication-identity' package.

`const identityClient = new CommunicationIdentityClient(token);`
`const teamsToken = await identityClient.getTokenForTeamsUser(idp_access_token)`

 So far I have not seen a way in create a CallComposite with a teams identit

[2022-06-02 17:48] levimiller-qhrtech opened #1952 "Add ability to hook into composite state"
**What feature are you requesting?**
I'm currently trying to customize the CallComposite, but I'm having a really hard time hooking into the state without accessing private code.

The issue is that the composite hooks require everything to be wrapped in CallAdapterProvider, but the public hooks require everything to be wrapped in CallClientProvider, CallAgentProvider, and CallProvider. This wouldn

[2022-06-02 19:03] ddematheu2 commented on #1951
@uharston We currently don't support Teams identity through the UI Library. Curious to learn more about your scenario so we can prioritize appropriately to bring these capabilities in.

[2022-06-02 19:11] ddematheu2 commented on #1951
The quickstart linked above is related to placing calls to Teams users. Just want to confirm whether your scenario is to enable a Teams user with their identity to use the Call Composite? Or is it to take the Call Composite to place a call to Teams user (per the Quickstart linked)

[2022-06-02 20:25] prprabhu-ms commented on #1946
Thanks for reporting this. I have a PR up to fix the local video story.

http://aka.ms/acsstorybook will be fixed once this PR merges and we do a beta or stable release.

[2022-06-02 20:31] prprabhu-ms commented on #1951
Just noting that support for using Teams identity via the `getTokenForTeamsUser` method is in public preview: https://docs.microsoft.com/en-us/azure/communication-services/concepts/teams-endpoint

I've notified the relevant folks that the quickstarts you linked should probably also have a banner making this clear.

The UI library does not  support this feature *yet* and it is not stabilized fully

[2022-06-02 20:43] prprabhu-ms commented on #1952
Thanks for starting this discussion @levimiller-qhrtech
When using the composites, you should not have to use any custom hooks exported from @azure/communication-react.

From your screenshot, it looks like you're trying to add an overlay to select devices. For this you'd need access to the `DeviceManager`.

We support such scenarios via dependency injection. You can create the lower-layer call cli

[2022-06-02 20:46] prprabhu-ms commented on #1952
As an aside, if you're building a device selection experience, you might find this discussion relevant: https://github.com/Azure/communication-ui-library/discussions/1840

[2022-06-02 20:51] prprabhu-ms commented on #1944
I haven't figured out why this failed two days ago. But I see several legitimate looking green CI runs today and the team isn't up in arms about bad CI.

So Imma close this.

[2022-06-02 20:51] #1944 closed

[2022-06-03 16:38] levimiller-qhrtech commented on #1952
Thank you, I missed that I could just create the adaptor from a CallClient and Agent 😅

That should completely solve my issues 🙂

Also thank you for the link to the issue of saving the device selection because that's the next thing I'll be working on 🙂

[2022-06-03 16:38] #1952 closed

[2022-06-03 18:36] prprabhu-ms commented on #1900
@sai0909 Can you try downgrading to React v17 to see if it fixes your issue?

[2022-06-03 22:50] prprabhu-ms commented on #1900
It is a big problem that anybody using our quickstart will currently hit the problem posted in OP.

I confirmed that downgrading the app to React 17 with

[code]

almost fixes the issue.
The problem is that `react-dom` had a breaking change from v17 -> v18 so that the `create-react-app` generated boilerplate doesn't work with React 17.

If you modify the generated `index.tsx` to be

[code]

Then t

[2022-06-06 23:54] #1946 closed

[2022-06-07 00:58] levimiller-qhrtech opened #1969 "Unable to override global staticStyles in FluentThemeProvider"
**Describe the bug; what happened?**
The default teams theme from fluent ui adds a couple global styles that are extremely disruptive:
[code]

These end up in a style tag at the bottom of the head tag which makes it very difficult to unset.

**What are the steps to reproduce the issue?**
Use FluentThemeProvider in any way (including in a composite), inspect the dom for the style tag with `data-fel

[2022-06-07 19:37] poplevente opened #1971 "angular project"
did someone actually make it work in angular? i'm not able to load the chatComposite. i think the error message is 'container not found'
some examples or a small help would be appreciated.

thanks!

[2022-06-07 23:16] PorterNan commented on #1969
Thanks for reporting the issue and also thanks for providing the workaround, this sounds like a fluent northstar issue that their provider is polluting global css environment, a new issue was just opened on their side. Since you have a nice workaround, so no hotfixes needed right now, let's keep our eyes on the issue on northstar side

[2022-06-08 11:28] poplevente commented on #1971
never mind, it's working

[2022-06-08 11:28] #1971 closed

[2022-06-08 23:16] bfwg opened #1977 "User-Agent not supported in iOS WKWebView"
**Describe the bug; what happened?**
We ran into an issue where ACS UI throws User-Agent not support when running the web page inside an iOS WKWebView.

**What are the steps to reproduce the issue?**
Create a WKWebView in an iOS app, and load the page which has ACS UI conference.

**What behavior did you expect?**
The conference works just like in an iOS Safari

**If applicable, provide screenshot

[2022-06-08 23:22] bfwg commented on #1977
We are setting the WKWebView's User-Agent to a hardcoded iOS Safari UA as a workaround at the moment.

[2022-06-08 23:59] alkwa-msft commented on #1977
https://docs.microsoft.com/en-us/azure/communication-services/concepts/voice-video-calling/calling-sdk-features

We only support calling experiences on webpages through safari on ios. We don't support web views at this time.

![image](https://user-images.githubusercontent.com/79329532/172736661-23c5d66b-699e-4192-8b09-8a7c7329365c.png)

[2022-06-08 23:59] #1977 closed

[2022-06-09 17:44] PorterNan commented on #775
The fixed #1950 was checked in, the problem should be fixed, close this issue and feel free to reopen this you still can repro it

[2022-06-09 17:44] #775 closed

[2022-06-09 17:53] PorterNan commented on #1951
Noted that, chat capability directly from teams wouldn't be supported by our sdk, it is only supported by Graph API for now, so we don't expect meeting composite and chat composite will be working in short term

[2022-06-09 23:57] prprabhu-ms commented on #1951
Closing this issue as there are no AIs in the UI library.

Please feel free to continue this discussion over at [our Q&A topic](https://docs.microsoft.com/en-us/answers/topics/azure-communication-services.html) for a more holistic response.

[2022-06-09 23:57] #1951 closed

[2022-06-10 00:09] PorterNan commented on #1862
Update:
We got this #1863 checked in for the problem, it will be in our next beta version very soon, please keep your eyes on next beta release 😉

[2022-06-13 20:52] #1876 closed

[2022-06-17 17:50] prprabhu-ms commented on #1900
Honestly, this is a fairly large feature gap in `create-react-app`. There is _no_ way to use an older version of `react` libraries with that tool. Maybe they'll have a fix for it soon... https://github.com/facebook/create-react-app/issues/12269

[2022-06-20 17:11] #1969 closed

[2022-06-21 13:04] piotrzaborow commented on #1900
It's not only about CRA. Next.js has their own CLI for creating new apps and usage of latest version will always bring React 18+.

I understand the complexity of migration, but not supporting new versions of React just places Fluent UI React as no-go for new React-based projects.

Of course I can downgrade, but I will lack of new Next.js features.

[2022-06-21 22:59] levimiller-qhrtech opened #2010 "Call id mismatch in CallAdapterState"
**Describe the bug; what happened?**
The CallState call id doesn't match the actual call id.

**What are the steps to reproduce the issue?**
Create a CallAdapter, log it to the console, join a call, and compare adapter.call.id to adapter.getState().call.id

(It is intermittent, but I get it 99% of the time)

**What behavior did you expect?**
I'd expect the actual call id to match the call id in Ca

[2022-06-21 23:27] anjulgarg commented on #2010
Hi @levimiller-qhrtech
Thanks for sharing the code snippet.
I understand you are trying to provide the call object for the current ongoing call to the `CallProvider`.

Did you trying passing the call object returned by `callAgent.join` to `CallProvider` ?

[2022-06-21 23:32] levimiller-qhrtech commented on #2010
I'm not calling callAgent.join directly, I'm using the `CallComposite`. I just need `CallProvider` for a custom component.

[2022-06-21 23:36] levimiller-qhrtech commented on #2010
Also, as a workaround I'm using `const callId = (adapter as any).call.id` in place of `const callId = adapter.getState().call.id`

[2022-06-22 16:08] prprabhu-ms commented on #2010
@PorterNan do we have the intricacies of call ID in the call adapter documented somewhere?

[2022-06-22 21:14] PorterNan commented on #2010
Hi @levimiller-qhrtech, thanks for reporting the issue, do you know which version of our package you are using? We do have a bug fix for this https://github.com/Azure/communication-ui-library/pull/1818/
But not sure if the version you are using is beta or stable one

[2022-06-23 19:53] levimiller-qhrtech commented on #2010
I'm currently using "@azure/communication-react": "1.2.0", but I'll try on the most recent version

[2022-06-23 20:44] prprabhu-ms commented on #1900
@piotrzaborow we're following up on both forks:

* Track Fluent UI React upgrade to React 18
* Deliver a workaround that unbreaks new apps using `@azure/communication-react` right now.

I learnt that it _is_ possible to set React versions via CRA templates, so we will explore that option in the short term.

[2022-06-24 20:11] #2010 closed

[2022-06-24 20:43] PorterNan commented on #2010
Thanks for the verification! Gald that the bug has been fixed!

[2022-06-27 16:00] iaulakh opened #2020 "No instruction to add EndpointUrl and cd samples\Chat is not working"
**Describe the bug; what happened?**
1) Github readme has no instruction to set EndpointUrl
2) cd samples\Chat is not working on Mac OS

[code]

**What are the steps to reproduce the issue?**
Please follow instructions from https://github.com/Azure/communication-ui-library/tree/main/samples/Chat for `local run`

**What behavior did you expect?**
1) Github readme has no instruction to set EndpointU

[2022-06-27 16:49] carocao-msft commented on #2020
Hi, I am looking into this issue, for cd samples\Chat it actually should be cd samples/Chat, will update that! Looking into setting endpointurl instructions as well :)

[2022-06-27 16:52] carocao-msft commented on #2020
For setting up endpoint url and connection strings, you can see instructions here
<img width="1111" alt="Screen Shot 2022-06-27 at 9 51 35 AM" src="https://user-images.githubusercontent.com/96077406/175994328-d92fe3e1-05c0-4c98-a5df-f8676eabbdae.png">

[2022-06-27 17:04] carocao-msft commented on #2020
Pr here for the update https://github.com/Azure/communication-ui-library/pull/2022. Let me know it there is anything else I can help! :)

[2022-06-28 09:00] strawhat-shima opened #2029 "Encountered ERROR during rush install"
When I git cloned and executed rush install, an ERROR occurred on the way.

Linking local projects

LINKING: @azure/communication-react

ERROR: Internal Error: Cannot find installed dependency "@fluentui/react" in
"C:\projects\meet\sample\communication-ui-library\common\temp\node_modules\.pnpm\local\C%3A%2Fprojects%2Fmeet%2Fsample%2Fcommunication-ui-library%2Fcommon%2Ftemp%2Fprojects%2Fcommunicati

[2022-06-28 17:33] carocao-msft commented on #2029
Hi, Do you mind trying rush install again?
And then rush install -p if rush install fails to ensure the install did not get into an incorrect state

[2022-06-28 17:34] carocao-msft commented on #2020
Merged the update. Let me know if there is anything else you would like me to help! :)

[2022-06-29 20:06] alkwa-msft commented on #2020
Closing this issue. Please re-open if there is still an issue.

[2022-06-29 20:06] #2020 closed

[2022-07-04 18:26] alkwa-msft commented on #2029
@strawhat-shima pinging to see if you were still able to repro this issue and give us additional information or if the above instructions were able to help you out?

[2022-07-04 23:34] strawhat-shima commented on #2029
I'm sorry to reply late. I tried install -p and the result was the same.
There may be something wrong with my environment. I will try it on another PC at a later and report the result.

[2022-07-05 16:51] mgamis-msft commented on #2029
@strawhat-shima If you are still seeing issues, please try `rush update --full`.

[2022-07-05 20:48] alkwa-msft opened #2044 "See if we can support Calling 1.6.0.beta"
https://www.npmjs.com/package/@azure/communication-calling/v/1.6.0-beta.1

We don't need to support all of the fancy features in 1.6.0-beta.1. Lets just make sure we can build the UI Library with this version and commit it.

[2022-07-06 01:35] strawhat-shima commented on #2029
Thanks, I tried rush update -all but it ended with another error.

ERROR: Internal Error: Cannot load shrinkwrap at
"C:\projects\meet\sample\communication-ui-library\common\temp\pnpm-lock.yaml"
You have encountered a software defect. Please consider reporting the issue to the maintainers of this application.

But, I tried it on another PC and rush install was successful. I will proceed with this.

[2022-07-06 08:41] #2029 closed

[2022-07-08 11:00] sangeethav123 opened #2058 "Message Status Indicator not working consistently in (Azure communication services the UI Library) for chat"
We were using cross-platform - Chat composite js bundle file (Azure communication services the UI Library) for chat.
(https://azure.github.io/communication-ui-library/?path=/docs/use-composite-in-non-react-environment--page)
Using this we are sending and receiving messages between chat users and the issue is, message status indicator(Sent & Seen) is not working consistently.

Example: Message sent

[2022-07-08 18:08] mgamis-msft commented on #2058
Hi @sangeethav123, thanks for filing this issue. We will take a look.

[2022-07-11 18:30] mgamis-msft commented on #2058
@sangeethav123 I cannot reproduce this when refreshing one chat composite with one thread.
May I ask how you are switching chat threads? Are you using multiple chat composites or just one?

[2022-07-11 20:04] #1862 closed

[2022-07-12 06:33] sangeethav123 commented on #2058
Hi,
We are using only one chat composite js bundle. For switching between chat threads, we are just passing the necessary tokens, threadId and userId.
FYI, I have attached code which we have followed for loading chat window below ,

loadChat: async function(chatUserDetails , threadId) {
            const { user, token } = { token: chatUserDetails.userToken, user: { communicationUserId: chatUserDet

[2022-07-13 09:54] mgamis-msft commented on #2058
@sangeethav123 Thank you for sharing your code. It helped me create a simpler but similar thread switching chat. However, I was not able to reproduce it what you are seeing. I have attached a video of my testing.

https://user-images.githubusercontent.com/79475487/178701297-3db6d62a-96c6-427e-89a1-87cc650cb645.mp4

The code I used is in this attached txt file.
[multi-chat-thread-js-bundle-app.txt]

[2022-07-14 08:36] sangeethav123 commented on #2058
Hi,

I have now used the latest bundle, the issue on message indicator is solved. But I didn't get timestamp for every messages, its showing only for the first message which we have sent/received.
It happens in your previous attached video also. How to fix that?

[2022-07-15 08:16] mgamis-msft commented on #2058
@sangeethav123 Thanks for letting us know.
For your follow up question, currently our Chat Adapter has this behavior of only showing the timestamp of the first message when a group of messages come from the same sender. Unfortunately, we have not made it customizable at this point. Please file another issue so that we can mark it as an enhancement for our backlog.

[2022-07-15 08:16] #2058 closed

[2022-07-15 19:05] github-actions[bot] opened #2087 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-07-18 21:01] #2087 closed

[2022-07-19 08:05] sangeethav123 opened #2099 "Message Timestamp not showing for every message in (Azure communication services the UI Library) for chat"
We were using cross-platform - Chat composite js bundle file (Azure communication services the UI Library) for chat.
(https://azure.github.io/communication-ui-library/?path=/docs/use-composite-in-non-react-environment--page)

Currently its only showing the timestamp of the first message when a group of messages come from the same sender. Because of this we may not able to know the exact timestamp

[2022-07-19 16:34] prabhjot-msft commented on #2099
Hi @sangeethav123, I am looking into the issue. Will post here once I have some update.

[2022-07-19 19:00] carocao-msft commented on #2099
Hi @sangeethav123 , thanks for bringing this up!
I am wondering if you prefer to have timestamps on all messages or only show timestamps when there is a certain time gap between each message?

[2022-07-19 19:11] adnan-ashfaq opened #2101 "Wrong error bar and it persists in communication-react."
**Describe the bug; what happened?**

1. Enabling the camera while it's being used by other application, it displays wrong error bar. I see `"Failed to start video"`, but instead it should dispatch `"Unable to access camera. It may already be in use by another application."`
2. the error bar stays even after the camera is closed in other app and is enabled in the meeting.

**What are the steps to

[2022-07-19 19:24] prabhjot-msft commented on #2101
@adnan-ashfaq thanks for filing the issue, we are looking into it, will post an update soon.

[2022-07-20 18:40] prabhjot-msft commented on #2101
@adnan-ashfaq could you please share the version of @azure/communication-calling that is being used in the application?

[2022-07-20 20:55] adnan-ashfaq commented on #2101
I was using @azure/communication-calling v1.3.0. And then updated to v1.5.4, and issue still persist.

[2022-07-20 23:48] prabhjot-msft commented on #2101
We were able to repro the issue on our end @adnan-ashfaq. Our team is currently investigating the issue, will keep you posted!

[2022-07-21 14:30] sangeethav123 commented on #2099
Hi,
I prefer to have timestamps when there is a certain time gap between each messages

[2022-07-21 16:12] carocao-msft commented on #2099
Sounds good thanks! We will create a work item for this new feature and update you once it's available :)

[2022-07-22 19:54] micahgodbolt commented on #1900
I'm working on React 18 support in Fluent UI right now. The changes in Strict mode are causing a good bit of churn, so we have some work ahead of us to get all of our controls working properly in React 18. For clarity, what version of Fluent UI is your package dependent on?

[2022-07-26 07:50] github-actions[bot] opened #2129 "Action to trigger TD Build failed"
Please investigate failures of https://github.com/Azure/communication-ui-library/actions/workflows/run-td-build.yml

[2022-07-26 07:51] prprabhu-ms commented on #2129
Injected failure to validate that failure of the action opens an issue.

[2022-07-26 07:51] #2129 closed

[2022-08-03 15:54] josalomo opened #2146 "Accessible label missing of the Send button in SendBox.tsx"
**Describe the bug; what happened?**
Button to send a chat message is missing discernable text / an accessible label. Button is an interactive element and doesn't have readable text (only an icon SendBoxSend), so a programmatic text / accessible label is needed to convey programmatic meaning, e.g. to screen readers.

**What are the steps to reproduce the issue?**
Open de chat pane, open Dev Tools

[2022-08-03 16:09] JamesBurnside commented on #2146
Thanks for filing this @josalomo , we'll take a look as soon as possible and get back to you

[2022-08-03 16:14] JamesBurnside commented on #2146
HI @josalomo, can you verify you are seeing this issue in the latest version of `@azure/communication-react` (version 1.3.0 or greater).
We recently pushed an accessibility fix in this area that should ensure an aria-label is correctly set #2004

[2022-08-03 16:39] JamesBurnside commented on #2101
To provide an update here, this is an issue with the `@azure/communication-calling` package throwing a `generic error` instead of  setting a UFD (user facing diagnostic) flag that the camera was in use. This issue has been reported to the team and transferring this issue to the appropriate repo

[2022-08-03 17:00] josalomo commented on #2146
Thanks @JamesBurnside, Think we're indeed using a previous version. Looking at the merged commit of #2004, it indeed looks like an aria-label is present. Will give it a try with version 1.3.0 or newer, and follow-up with the findings.

[2022-08-05 19:53] JamesBurnside commented on #2146
@josalomo marking this issue as closed. Please leave a comment if you still hit this issue

[2022-08-05 19:53] #2146 closed

[2022-08-05 21:59] github-actions[bot] opened #2166 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-08-05 22:05] JamesBurnside commented on #2166
Transient rush install fail: https://github.com/Azure/communication-ui-library/runs/7699378579?check_suite_focus=true

[2022-08-05 22:05] #2166 closed

[2022-08-10 05:43] GHY18 opened #2186 "stream-media-loading-spinner always shows when someone sharing the screen."
There is always a loading spinner when someone sharing the screen.
![image](https://user-images.githubusercontent.com/39253803/183823762-7e15694c-b49a-4ccd-b884-b1a8ea1e594a.png)
I implemented the calling app with CallComposite, and wonder how to fix it.
<img width="312" alt="image" src="https://user-images.githubusercontent.com/39253803/183802390-3af7c0ef-803c-471a-a820-edfde2c091ae.png">

- `@az

[2022-08-11 08:32] PorterNan commented on #2186
Thanks for reporting the regression, a PR has being merged into main branch https://github.com/Azure/communication-ui-library/pull/2191 to fix this bug, please wait for next version release to get the fix, a temporary workaround is downgrade the version to 1.2.0 or use our beta version

Will send another update here whenever we push the new version which fixes the regression

[2022-08-11 22:09] PorterNan commented on #2186
Hi, we've released a new stable patch version 1.3.1 to address this regression, please take a try and verify if that works for you, and feel free to reopen the issue if you find the problem still exists.

[2022-08-11 22:09] #2186 closed

[2022-08-12 07:43] NicolasHumann opened #2214 "Display name is not allowed to be set for Teams users."
Hi,

I want to use ACS to start and join a Teams meeting. I retrieve the JoinWebUrl from the Graph and the Token from ACS.
When I start the call adapter I have this error in the Console

callComposite.js:2

       Uncaught (in promise) CallError: CallClient.createCallAgent: Display name is not allowed to be set for Teams users.
    at Ze (callComposite.js:2:3244183)
    at $e.<anonymous> (callComp

[2022-08-12 23:22] PorterNan commented on #2214
Hi, thanks for reporting the issue, for now callComposite.js bundle only support groupId scenario, we might add teams meeting and more scenarioes to it in the future, but if you want to take a try now, it's highly recommended to use our react version - it has the full compatibility with teams meeting
Check it here https://azure.github.io/communication-ui-library/iframe.html?viewMode=docs&id=compos

[2022-08-15 05:05] github-actions[bot] opened #2219 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-08-15 16:06] prprabhu-ms commented on #2219
CI on `main` has passed many times since. This one failure was in the setup step in the GitHub workflow. Not sure what the source was, but it happened to multiple jobs at once and hasn't been seen before.

Going to chalk this up to gamma rays until it happens again.

[2022-08-15 16:06] #2219 closed

[2022-08-15 16:08] dmceachernmsft commented on #2219
We had a big service outage Friday afternoon where we couldn't mint tokens or anything so I think that was the culprit.

[2022-08-15 16:15] github-actions[bot] opened #2221 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-08-16 00:15] dmceachernmsft commented on #2221
Will keep an eye on actions to see if the same errors keep coming up. issue was when automation tests were installing rush

[2022-08-17 18:30] dmceachernmsft commented on #2214
@NicolasHumann we should see this fix in the next beta release. We had a fix for the JS bundle go in for this PR: https://github.com/Azure/communication-ui-library/pull/2230

Of course feel free to clone and build the JS bundle yourself in the mean time!

[2022-08-19 15:39] alkwa-msft opened #2243 "Is it possible to customize display names of users when using the VideoGallery component?"
**What feature are you requesting?**
It looks like its partially possible to update the some of the user information in a calling experience but only through the composite.

**What would be the benefit of adding this feature?**
It would unblock customers that are using the UI components and want to be able to have a customized name for specific participants in the call. A sales agent internally ha

[2022-08-19 16:07] dmceachernmsft commented on #2243
Thanks for filing the issue! we will be actively looking into this!

[2022-08-23 01:41] dmceachernmsft commented on #2243
Currently using `usePropsFor` for the `videoGallery` does give access to the remote participants array. This can be a access point for changing the names of the participants by programmatically changing them as desired. By mapping the new names to each participant based on their userId or other property this can give the opportunity to update user information.

[2022-08-24 07:46] jboinembalome opened #2257 "Unable to change the style of myChatMessageContainer for the MessageThread component"
**Describe the bug; what happened?**
First of all, thank you very much for your work.
The `MessageThread `component has a "styles" prop allowing us to change the style of the following elements:
- `myChatMessageContainer`
- `chatMessageContainer`

If we add style for both elements we can see that the style is applied for `chatMessageContainer `and not for `myChatMessageContainer`.

**What are the

[2022-08-25 16:38] anjulgarg commented on #2257
Hi @jboinembalome
Thanks for bringing this to our attention and digging into the source code to find the exact issue.
We would love it if you contribute to the library for fixing this bug.

Feel free to fork the repo and create a PR.
The solution offered by you looks good.

Looking forward to your PR.
Let us know if you need help. :)

[2022-08-26 00:36] ddematheu2 opened #2274 "Infinite spinning circle when sharing screen using the calling composite in a Teams meeting"
**Describe the bug; what happened?**
When in a Teams interop call, if the Teams user shares screen, the user on the call composite sees an infinite loading icon on the screen.

**What are the steps to reproduce the issue?**
Join a teams interop call from the call composite
Start screen sharing from the teams client

**What behavior did you expect?**
No loading icon

**If applicable, provide screen

[2022-08-26 05:20] prprabhu-ms commented on #2274
This looks like a duplicate of https://github.com/Azure/communication-ui-library/issues/2186 and it is fixed in `@azure/communication-react@1.3.1` (in fact, `1.3.1` is a hot fix just for this bug).

Can you try bumping your dependency version and retrying?

[2022-08-26 10:49] diegohj56 opened #2275 "Add [what] to/in [where]"
**What feature are you requesting?**

**What would be the benefit of adding this feature?**

**What solution would be ideal for you?**

**What alternatives have you considered?**

**Is there any additional information for your request?**

**Attach screenshots or images add detail to your request:**

[2022-08-26 18:34] diegohj56 opened #2279 "[what is the issue?] in [where is the issue?]"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

- `@azure/communication-react` npm package version (if applicable): [e.g. 1.3.0]
- `@azure/communication-calling` npm package version (if applicable): [e.g. 1.5.4-beta.1]
- `@azure/communica

[2022-08-26 20:59] #2275 closed

[2022-08-26 20:59] #2279 closed

[2022-09-02 20:24] carocao-msft commented on #2099
Hi, we have made the changes and got this PR https://github.com/Azure/communication-ui-library/pull/2299 checked in for the problem, it will be in our next beta version very soon, please keep your eyes on next beta release 😉

[2022-09-02 20:24] #2099 closed

[2022-09-06 17:03] JamesBurnside commented on #2274
Closing this issue as a hotfix has been released in 1.3.1, please create a new issue if you are still seeing this in `@azure/communication-react@1.3.1`

[2022-09-06 17:03] #2274 closed

[2022-09-07 17:21] github-actions[bot] opened #2306 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate.

[2022-09-07 20:02] github-actions[bot] opened #2308 "This is a test - ignore"
Main CI Pipeline has failed. Please investigate: https://github.com/Azure/communication-ui-library/runs/3010385071.

[2022-09-07 20:03] JamesBurnside commented on #2308
This was for test - closing

[2022-09-07 20:03] #2308 closed

[2022-09-07 20:10] JamesBurnside commented on #2306
Link: https://github.com/Azure/communication-ui-library/runs/8233661082?check_suite_focus=true

A lot of rush failures. Closing as a transient rush issue.

[2022-09-07 20:10] #2306 closed

[2022-09-08 15:42] JamesBurnside commented on #2243
Closing this due to inactivity. For reference, here is an example snippet of what @dmceachernmsft is referring to:
[code]

[2022-09-08 15:42] #2243 closed

[2022-09-09 08:28] Roy19 opened #2321 "Autoscrolling of messages in Safari and WebKit based browsers"
**Describe the bug; what happened?**
On Safari/WebKit based browsers, on scrolling upwards for previous messages, new messages are continuously fetched and are added continuously and the messages list keeps autoscrolling to the top till the first message is received at which point scrolling is stopped. This however doesn't happen in Chrome or Firefox based browsers.

**What are the steps to reprod

[2022-09-09 22:46] JamesBurnside commented on #2321
Thanks for filing this issue, we'll take a look at this as soon as possible.

[2022-09-13 16:27] edwardlee-msft commented on #2321
Thank you for filing this issue and bringing it to our attention.
We were able to reproduce the issue on Safari MacOS with our latest communication-react package version of 1.3.1 and are working on a resolving this bug.

[2022-09-14 21:42] github-actions[bot] opened #2339 "Action to trigger TD Build failed"
Please investigate: https://github.com/Azure/communication-ui-library/actions/runs/3056252218

[2022-09-15 04:47] deepakhariharan opened #2343 "[what is the issue?] in [where is the issue?]"
**Describe the bug; what happened?**

**What are the steps to reproduce the issue?**

**What behavior did you expect?**

**If applicable, provide screenshots:**

**In what environment did you see the issue?**

- `@azure/communication-react` npm package version (if applicable): [e.g. 1.3.0]
- `@azure/communication-calling` npm package version (if applicable): [e.g. 1.5.4-beta.1]
- `@azure/communica

[2022-09-15 04:59] deepakhariharan opened #2344 "Error in Call Composite/Join Existing Call"
**Describe the bug; what happened?**
The bug is in CallComposite/Join Existing Call.
Entered 'User Identify for user'
Entered 'Valid token for user'
Entered 'Call locator (ACS group ID or Teams meeting link)' Entered Teams Meeting Link

I got the Bug
'Unable to join Meeting. Invalid Link.'

**What are the steps to reproduce the issue?**
Enter'User Identify for user'
Enter 'Valid token for user'
En

[2022-09-15 05:08] prprabhu-ms commented on #2344
The error banner suggets that the meeting link you provided was invalid. Could you post the meeting link you used? (Perhaps redact any UID-like parts of the link before posting here)

[2022-09-15 05:10] deepakhariharan commented on #2344
@prprabhu-ms  This is the Link
https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZmE3NDI1YWQtYzRhOS00YjFiLTgzYjMtYWI0M2VhYjI4MTU2%40thread.v2/0?context=%7b%22Tid%22%3a%2236da45f1-dd2c-4d1f-af13-5abe46b99921%22%2c%22Oid%22%3a%2221434d69-289a-4ef8-af03-c67b497ff28b%22%7d&gt;

[2022-09-15 05:24] prprabhu-ms commented on #2344
Not sure if the trailing `>` was part of the link you provided, but that isn't part of the meeting link.

[2022-09-15 05:29] deepakhariharan commented on #2344
No > is not a part of the Link here is the Link
https://teams.microsoft.com/l/meetup-join/19%3ameeting_ZmE3NDI1YWQtYzRhOS00YjFiLTgzYjMtYWI0M2VhYjI4MTU2%40thread.v2/0?context=%7b%22Tid%22%3a%2236da45f1-dd2c-4d1f-af13-5abe46b99921%22%2c%22Oid%22%3a%2221434d69-289a-4ef8-af03-c67b497ff28b%22%7d

[2022-09-15 09:19] Roy19 commented on #2321
@edwardlee-msft @JamesBurnside any idea when a public release might be available with the issue resolved?

[2022-09-15 13:49] ricmeira opened #2348 "Error in layout floatingLocalVideo of VideoGallery component"
**Describe the bug; what happened?**
While executing VideoGallery with layout="floatingLocalVideo", sometimes the image does not show to the locallUser(remoteUser is still able to see the camera image). This is the error that appears in the console:
[code]

**What are the steps to reproduce the issue?**
It is an intermitent issue, don't know why it happens though, but from time tom time it happens

[2022-09-15 15:38] edwardlee-msft commented on #2348
Thanks for filing this issue, we'll take a look at this as soon as possible.

[2022-09-15 15:42] edwardlee-msft commented on #2321
Hi @Roy19, we are still working on the issue and will get back to you with an update as soon as one is available.

[2022-09-16 09:08] deepakhariharan commented on #2344
@prprabhu-ms
I entered a new Teams Link
https://teams.live.com/meet/9582750218213
The Error has changed this is the new Error I am getting.

![image](https://user-images.githubusercontent.com/17702613/190601188-ac4b5e0c-f3b1-4f3e-860f-bc3ad9f06a00.png)

[2022-09-16 17:29] edwardlee-msft commented on #2344
Hi @deepakhariharan,

Can you please provide a screen capture of the console log in the inspection tool? From what I initially see, the Teams link you provided does not seem to be malformed.
Can you also please confirm if the ACS user token is valid and not expired? (Additionally, please watch out for any trailing white space when pasting in the token and userId).
![image](https://user-images.gith

[2022-09-17 05:01] deepakhariharan commented on #2344
**This is the Console Log I am getting, I am using a Valid Token and User ID.**

main.91d076f289613783016c.manager.bundle.js:1 This Storybook was compiled for @azure/communication-react version 1.3.1-beta.1
Error with Permissions-Policy header: Origin trial controlled feature not enabled: 'interest-cohort'.
 Importing from '@storybook/addon-docs/blocks' is deprecated, import directly from '@storyb

[2022-09-17 06:02] deepakhariharan commented on #2344
@edwardlee-msft
This is the screen shot of the console error.

![image](https://user-images.githubusercontent.com/17702613/190842940-bf224ec7-1916-4ad9-a7a6-86880cc7a8a7.png)

[2022-09-20 19:17] mgamis-msft commented on #2339
Looks like Azure DevOps services was temporarily down for this Github action run as shown in the output of the step to trigger TD BUILD  pipeline here https://github.com/Azure/communication-ui-library/actions/runs/3056252218/jobs/4930219055#step:3:10.
All subsequent actions to trigger TD Build have successfully.
Closing this issue as Azure DevOps being down.

[2022-09-20 19:17] #2339 closed

[2022-09-21 20:44] github-actions[bot] opened #2356 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate: https://github.com/Azure/communication-ui-library/actions/runs/3100938895

[2022-09-22 06:41] mgamis-msft commented on #2348
Hi @ricmeira, Thank you for providing the information for this error. I was unable to reproduce the intermittent bug what you were seeing but I will investigate with the Calling SDK team which is our backend. I believe the console error you provided indicates the issue is in our backend.

How often would you say this happens?

[2022-09-23 00:23] github-actions[bot] opened #2359 "Nightly workflow to release alpha package failed"
Please investigate: https://github.com/Azure/communication-ui-library/actions/runs/3109606030

[2022-09-23 09:24] mgamis-msft opened #2360 "Chat messages grouped together after user display name change in ChatComposite"
Re-post of issue from Teams Conversation

### Unexpected behavior in ChatComposite

I am observing what seems to me to be unexpected behavior in the way the ChatComposite displays messages in the
message canvas.  Two different message flows that are processed with the same code path in my app produce two different renderings.  Let me explain...

**Important Context** - I am using the ChatComposite

[2022-09-23 10:00] mgamis-msft opened #2361 "Upgrade Calling SDK to 1.8.0-beta.1"
Available in NPM - https://www.npmjs.com/package/@azure/communication-calling/v/1.8.0-beta.1

[2022-09-23 18:58] ricmeira commented on #2348
@mgamis-msft sorry late response, I saw it happening 3 to 4 times during my tests(lots of it). But we also had some QA users reporting this issue.

[2022-09-23 21:39] alkwa-msft commented on #2343
Closing this issue since it  was probably made incorrectly when trying to create issue [2344](https://github.com/Azure/communication-ui-library/issues/2344)

[2022-09-23 21:39] #2343 closed

[2022-09-26 04:49] alexfca opened #2364 "[BUG] - [Chat] - ReadReceipts are not stored for Threads with more than 20 Participants"
### Library name and version

Azure.Communication.Chat 1.1.1

### Describe the bug

Hi,
We are using ACS Chat for multi-user text based communications.
We noticed that some of our Threads do not have the "Message Seen" icon, which is rendered in the React UI controls by default.

When checking the data for these Threads, we noticed that there are no ReadReceipts returned from the API calls.
Althou

[2022-09-26 15:45] edwardlee-msft commented on #2364
Hi @alexfca,
Thank you for taking the time to submit this issue.
At this time, ReadReceipt status is not available in chats with 20 or more participants and is expected behaviour.

We appreciate your feedback and will consider revisiting this use case in future improvement plans.

[2022-09-26 15:45] #2364 closed

[2022-09-26 16:08] edwardlee-msft commented on #2321
Status update: We are still looking into this issue and are currently working on integrating a fix into our packages.
I will provide a new update once a fix is available.

[2022-09-26 23:03] alexfca commented on #2364
Thanks for the quick response.
Is this documented anywhere?

[2022-09-27 05:21] mgamis-msft commented on #2360
This issue was resolved by adding a new participant in the chat instead of changing the display name. The PR above to change the attachment behavior of messages is closed as it is no longer necessary.

[2022-09-27 05:21] #2360 closed

[2022-09-27 17:14] prabhjot-msft commented on #2356
The CI pipeline run for the PR has been successful and code is merged. Closing the issue.

[2022-09-27 17:14] #2356 closed

[2022-09-29 05:06] #2361 closed

[2022-09-29 08:25] General-Zhang opened #2373 "Are there any plans to support landscape on mobile? And can I zoom in and out when I share?"
When the landscape screen is displayed on mobile phone, the scope of the screen is too small, can you display it on the right side like Teams client?

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/41287016/192980129-c0cc09a3-6c3a-4410-bad0-816b6361f75e.png)

[2022-09-29 19:22] Andre-Bertram opened #2375 "Video Aspect in CallComposite"
**Describe the bug; what happened?**
   **Using CallComposite:**
   Between 900px and 1447px, the video aspect of a conference call with three participants, is skewed compared to other breakpoints.
   The crop quality of the videos is slight more fuzzy and unnecessarily zoomed-in.

**What are the steps to reproduce the issue?**
  **Using CallComposite:**
  - Create a conference with three particip

[2022-09-29 19:39] prabhjot-msft commented on #2375
@Andre-Bertram thanks for filing the issue, we are investigating and will provide an update soon

[2022-10-03 21:42] anjulgarg commented on #2344
Hi @deepakhariharan
Any update on this?
Were you able to make it work?

[2022-10-03 21:43] anjulgarg commented on #2348
Hey @ricmeira
Curious. Is this still an issue?

[2022-10-03 21:48] anjulgarg commented on #2373
Hi @General-Zhang
Thanks for reaching out to us.
We understand the challenges with using screen share on mobile devices and are working towards improving this experience.
However, we don't have a timeline to share for these improvements.
Please stay tuned and look out for this in one of our future releases.

As an alternative, you can create a custom calling experience with customized video galler

[2022-10-03 21:48] #2373 closed

[2022-10-04 19:53] prabhjot-msft commented on #2375
@Andre-Bertram Thank you for bringing the issue to our attention. Could you please provide some information for further clarification:
1. The range mentioned in the issue that is between 900px and 1447px, is it just along the width of the screen(x-axis)?
2. Would you prefer the videos to be displayed side-by-side in this viewport rather than in stacked layout or do you prefer the control over the

[2022-10-05 17:40] JamesBurnside commented on #2359
Updated azure key, working now: https://github.com/Azure/communication-ui-library/actions/runs/3191405945/jobs/5207677313

[2022-10-05 17:40] #2359 closed

[2022-10-06 06:04] Roy19 commented on #2321
@edwardlee-msft I see that the pull request has been merged. Is there a release planned out for this bug?

[2022-10-06 18:25] edwardlee-msft commented on #2321
Hi @Roy19 ,

We are working on having a release ready that includes this bug fix soon.
I will update you once the release is available.

[2022-10-06 22:48] Andre-Bertram commented on #2375
@prabhjot-msft Apologies for the delay.

To answer your questions:
 1. Yes, this is just along the x-axis.
 2. In our use case users might require some control over the visible area in each video tile. Optimally we'd have control over
     the maximum amount the video stream would be cropped in a percentage. That way the user would be able to select
     between the current style and the presenter

[2022-10-07 23:20] prabhjot-msft commented on #2375
@Andre-Bertram Thanks for the clarification. We understand the issues you are facing currently using the call composites. We are working on adding more features to the composites for handling these scenarios. However, we don't have a timeline to share for these improvements. In the meantime, you can try creating a custom calling experience using the pure UI components where you will have more cont

[2022-10-07 23:20] #2375 closed

[2022-10-10 05:45] Roy19 commented on #2321
Sounds good. Thanks @edwardlee-msft.

[2022-10-11 14:11] ricmeira commented on #2348
@anjulgarg yes, it is

[2022-10-11 23:58] nmaredia opened #2397 "Unable to create/initiate callComposite"
**Describe the bug; what happened?**
I was trying to create callComposite and chatComposite by following [this ](https://azure.github.io/communication-ui-library/?path=/docs/quickstarts-composites--page) quickstart guide

**What are the steps to reproduce the issue?**
1- Copied the code provided in tutorial.
2- added my ID, Token and ACS resource url.
3- Run `npm run start`

**What behavior did yo

[2022-10-13 20:19] micahgodbolt commented on #1900
It took longer than expected, but peer deps have been updated. Both v8 and v9 will be usable within react 18 upon the next release.

[2022-10-13 23:06] PorterNan commented on #2397
Disccussed offline with @nmaredia about the problem, it is caused by incompatible react version (React 18), and the incompatible react version cause the re-render of the whole page when throwing error, which creates duplicated callAgent.
Since we are going to update our quick start page, adding more details of React version, this will be not an issue, please expect the next update of our storybook

[2022-10-13 23:06] #2397 closed

[2022-10-14 07:50] strawhat-shima opened #2409 "Screen Blinks at VideoGallery on Safari (IPad)"
I have created an app using CallWithChatComposite.
A user of iPad (iOS14, safari) reported that VideoGallery blinks at high speed.
It seems that the number of tiles repeats 2 and 4. ControlBar buttons are also difficult to press.

[2022-10-14 16:19] anjulgarg commented on #2409
Hi @strawhat-shima
Thanks for reaching out to us.
To understand the issue better, would it be possible to provide screenshots/videos of how the app renders on the device mentioned?

[2022-10-18 23:53] github-actions[bot] opened #2418 "Main branch CI Failed"
Main CI Pipeline has failed. Please investigate: https://github.com/Azure/communication-ui-library/actions/runs/3277710344

[2022-10-19 16:44] dmceachernmsft commented on #2418
re ran CI run passed 2nd time around

[2022-10-19 16:44] #2418 closed

[2022-10-20 04:41] strawhat-shima commented on #2409
Thank you for your reply. I'm sorry, it was a report from a user, so I don't have an environment where I can check it at the moment. I'll try to reproduce it, but I feel it's difficult to take a snapshot of the phenomenon.

[2022-10-20 04:48] strawhat-shima opened #2422 "I can't turn on and off the microphone and camera after entering the room with ipad"
**Describe the bug; what happened?**
In a sample program using CallWithChatComposite, after joining a group call on an Ipad, tapping the microphone and camera toggle buttons on the ControlBar does not respond. Local video before entering the room can be turned on and off.
at IPad iOS15.7

[2022-10-20 15:42] dmceachernmsft commented on #2422
Thanks for raising the issue @strawhat-shima! I will bring this to the team and we will start taking a peak into this. In the mean time could you send me a little more information about which version of the communication-ui-library that you are using?

[2022-10-20 16:23] dmceachernmsft commented on #2422
I believe I was able to reproduce the issue. To clarify when you action the microphone and camera buttons the buttons don't toggle microphone and camera state and they open the device selection tabs?

[2022-10-20 18:17] dmceachernmsft commented on #2422
Update: From what we can tell this is a issue with Fluent one of our dependencies so we have filed and issue with them: https://github.com/microsoft/fluentui/issues/25323

A short term fix for this issue would be to set the `formFactor` prop on the CallWithChat composite to `'mobile'` and you will get the standard buttons that you can action properly on mobile devices.

[2022-10-20 21:52] DercilioFontes opened #2425 "ChatAdapter errors is not thrown to the error listener"
**Describe the bug; what happened?**
I implemented the error handler for the `ChatAdapter` on the error listener, but the errors are not coming to it. I can see the error in the console logs.

[code]
Image:
![Screen Shot 2022-10-20 at 5 16 58 PM](https://user-images.githubusercontent.com/20172847/197063280-d4093110-dfbb-44d9-bb8a-6a66c3f1e8af.png)

**What are the steps to reproduce the issue?**
1.

[2022-10-20 22:48] dmceachernmsft commented on #2425
Thanks for raising the issue @DercilioFontes! We have a `afterCreate` function that is an optional property to our `useAzureCommunicationChatAdapter` constructor for the adapter that is meant to be used to subscribe to these events.  this little snippet is a example of how to use this function:

` const errorHandler = (e: ChatAdapterError) => {
  if (e.innerError.statusCode && errorCodes.includes(

[2022-10-21 01:40] strawhat-shima commented on #2422
Thank you for confirmation. I tried adding the isIPad function and setting the formFactor to 'mobile'. I can now switch the mic on/off. Thank you for your workaround.

[2022-10-21 01:48] DercilioFontes commented on #2425
@dmceachernmsft, I tried to use your suggestion, but it will require changes in my code from how it is implemented now. I'll try when I have more time. Giving more info about how I implemented it, it follows:

I have one `useEffect` to create the adapter.
[code]
And I have another one to add the listeners.
[code]
And you can see now that I added a `'unhandledrejection'` event listener to handle th

[2022-10-21 16:53] dmceachernmsft commented on #2425
Glad you were able to find a workaround here! seems like there is a issue inside our chat adapter if we have separate errors sneaking through! Could I get a little more info to point our search on this one?
- When do these errors typically show up? Adapter creation? when using the composite to send and receive messages?
- Which version of `communication-react` are you using?
Thanks again for raisi

[2022-10-21 17:01] DercilioFontes commented on #2425
The version is 1.3.1

The errors happen when the thread is ended in the Communication Service, and one is typing and sending messages. The requests to the Service are returning 404 (Not Found, because the thread is not live anymore), and the error is not coming to the ChatAdapter error listener.

[2022-10-21 17:10] dmceachernmsft commented on #2425
Excellent. Thank you for the information! will update when we know more and when a fix is coming!

[2022-10-26 16:46] #2257 closed

[2022-10-27 19:49] krista-m-bledsoe commented on #1900
@micahgodbolt - Do you have plans or know when the communication-ui-library will be upgraded to using v9 of Fluent UI ?

[2022-10-27 22:10] prprabhu-ms commented on #2321
The fix was released in the latest beta release: https://github.com/Azure/communication-ui-library/blob/36c8c2789833aace33e43e25f931b957f744555b/packages/communication-react/CHANGELOG.md?plain=1#L98

and will be included in the next stable release of the package.

[2022-10-27 22:17] prprabhu-ms commented on #2344
Closing due to inactivity.

I was unable to reproduce this issue myself, so if we do see it again, it'd be great to get some more insight into how we're getting the composite into this weird state.

[2022-10-27 22:17] #2344 closed

[2022-10-27 22:24] prprabhu-ms commented on #2409
If we do get to reproduce this, it would be good to get the package versions used for `@azure/communication-react` and `@azure/communication-calling`.

[2022-10-28 17:53] prprabhu-ms commented on #2214
If I am reading this correctly, the issue here was that the JS bundle did not expose a way to join a Teams call.
That support was added in #2230.

The chat bundle hosted on GitHub was updated with that fix in the last beta release: https://github.com/Azure/communication-ui-library/releases/tag/PublicPreview%2F1.3.2-beta.1

Please let us know by reopening this bug if you still see this issue.

Than

[2022-10-28 17:53] #2214 closed

[2022-10-28 20:20] jerry-chuang-qhr opened #2468 "Warning messages from CallComposite component"
**Describe the bug; what happened?**

When you join a call with call composite with dev tools open, there are some warnings in the console:

[code]

[code]

**What are the steps to reproduce the issue?**

This can be reproduced in the example page:
https://azure.github.io/communication-ui-library/?path=/story/composites-call-joinexistingcall--join-existing-call

1. Filling in azure user id, valid

[2022-10-28 23:18] dmceachernmsft commented on #2425
Hi @DercilioFontes seems the issue was actually in our chat-stateful-client. we have a fix up for review and will have a release with it sometime soon!

[2022-10-28 23:25] DercilioFontes commented on #2425
@dmceachernmsft, great! Thanks

[2022-11-01 16:51] carocao-msft commented on #2468
Hi, Thanks for raising the issue, we are looking into it :)

[2022-11-02 09:55] mamazgut opened #2477 "CallWithChatComposite component fails to extract chat thread ID from Teams meeting link containing "thread.tacv2""
**Describe the bug; what happened?**
CallWithChatComposite component cannot properly parse Microsoft Teams meeting link and extract chat thread id. The problem is probably in the `parseTeamsUrl.ts` file. The regular expression is only working for links containing "thread.v2", but not "thread.tacv2"

**What are the steps to reproduce the issue?**

1. Navigate to https://azure.github.io/communicatio

[2022-11-02 16:50] jpeng-ms opened #2478 "[Storybook] duplicated typing indicator event being sent in chat composite"
**Describe the bug; what happened?**
Please see the video below:

https://user-images.githubusercontent.com/109105353/199550433-a45e0609-b928-4b97-b11c-caaa30c1482e.mov

noticed in console, another typing indicator event being sent out immediately after the message even though user did not start typing

**What are the steps to reproduce the issue?**

1. start typing a message
2. hit enter to sent

[2022-11-02 16:54] carocao-msft commented on #2478
Hi Thanks for raising this issue! We are looking into it

[2022-11-03 16:55] carocao-msft commented on #2468
Hi we have merge the change required for the Max Listener exceed warning, still working on the 'Icon being re-registered' one, please stay tuned on our next release! :)

[2022-11-03 22:32] carocao-msft commented on #1720
Hi, Just want to let you know we are working on this item, will update you once it's done! :) Thanks!

[2022-11-03 23:13] carocao-msft commented on #2321
Hi, we have recently released stable 1.4.0 and the fix was included in this release. Going to close this issue and please open another github issue if you have more questions!
Here is the changelog for stable release 1.4.0 https://github.com/Azure/communication-ui-library/blob/main/packages/communication-react/CHANGELOG.md#140

[2022-11-03 23:13] #2321 closed

[2022-11-07 22:40] JamesBurnside commented on #2348
Hi @ricmeira, apologies for the delay, this error typically occurs if the stream becomes undefined.
To enable us to help further we'll need a code snippet of how you are using the video gallery and passing in props, and if possible, record logs we can analyze. To gather logs can you create an azure logger in your app and redirect the output to the console:
[code]

[2022-11-08 03:06] mgamis-msft commented on #2348
Talked to the Calling SDK team and they are aware of this issue and say it could be a bug with their stream management or this could be hardware issue where a camera is longer available (which doesn't sound like the case as you are seeing this on multiple users.) They would like to see some logs to narrow down the cause of this intermittent error better.
If that does not work for you it would be g

[2022-11-09 21:37] carocao-msft commented on #2468
Hi We have merged the change required for the icon re-registered warning https://github.com/Azure/communication-ui-library/pull/2506. The changes will be reflected in our next release, please stay tuned! :)

[2022-11-10 17:58] JamesBurnside commented on #2477
Hi @mamazgut, unfortunately channel-scheduled meetings are not supported today: https://learn.microsoft.com/en-us/azure/communication-services/concepts/join-teams-meeting#limitations-and-known-issues.

We'll look into making the error thrown more appropriate to highlight this.

[2022-11-10 17:58] #2477 closed

[2022-11-11 19:47] lucasm107 opened #2521 "'Dialpad' is not exported from '@azure/communication-react'"
**Describe the bug; what happened?**
'Dialpad' is not exported from '@azure/communication-react'

**What are the steps to reproduce the issue?**
create a new app (react 17 o react 18)
npm install @azure/communication-react

then:
[code]
=> Attempted import error: 'Dialpad' is not exported from '@azure/communication-react'.

**What behavior did you expect?**
Use the Dialpad component

**In what env

[2022-11-11 20:23] ddematheu2 commented on #2521
Hey @lucasm107

Thanks for reporting this issue. There is a missed instruction on the documentation to use our beta package to leverage the Dialpad component.

You will find the component on your beta version: @azure/communication-react@1.3.2-beta.1

[2022-11-14 19:40] ricmeira commented on #2348
Hello @mgamis-msft and @JamesBurnside I did as requested, and here are the logs that I receive when I get the console error:

![image](https://user-images.githubusercontent.com/1854914/201750160-3a217d57-ec2e-4aa5-a103-2c2d70021499.png)
![image](https://user-images.githubusercontent.com/1854914/201750316-bc8e5c6e-11ee-45c9-8b4c-ced1faa00c6a.png)

[2022-11-15 20:15] jpeng-ms commented on #2478
issue only happening when you sent messages using enter key (13) on keyboard, if you click on sent button, then this issue would not appear

[2022-11-15 20:48] JamesBurnside commented on #2478
Thanks @jpeng-ms for the detailed repro and extra info, looks like we are triggering the typing indicator in the sendbox when any key (including the enter key) is pressed: https://github.com/Azure/communication-ui-library/blob/368c4cefaea1ee51d11c7e4b2e6f8555442a6989/packages/react-components/src/components/SendBox.tsx#L370-L372

This should be an easy fix in the Sendbox Component to check if the

[2022-11-15 21:49] fizampou commented on #2348
@ricmeira thanks for reporting that one.

Can you attach the whole log file please? What i can see is so far is LocalVideoStream needs an target: HTMLElement and seems the element you are passing is not there. Is it possible it's removed/not attached to the DOM?

Can you update to latest versions of npm packages and check again please?

[2022-11-16 20:35] develohpanda commented on #1900
Hi @micahgodbolt, while the `@fluentui/react` warning has now disappeared for me, I've still got a few others.

![image](https://user-images.githubusercontent.com/4312346/202288150-7fe803bb-c93c-4b08-a8fb-320b3c31b97a.png)

Do you know when the updated peer dependencies for `@azure/communication-react` and bundled dependency upgrades, will be published? For example, I can see that `@fluentui/react

[2022-11-17 20:50] JamesBurnside commented on #1900
@develohpanda unfortunately we are blocked from permitting react 18 as a peer dependency on https://github.com/microsoft/fluentui/issues/25651

[2022-11-17 22:17] develohpanda commented on #1900
@JamesBurnside that's awesome! Please let me know if there's anything I can do to help it along. :)

[2022-11-17 23:46] github-actions[bot] opened #2541 "Action to trigger TD Build failed"
Please investigate: https://github.com/Azure/communication-ui-library/actions/runs/3492932489

[2022-11-18 21:26] edwardlee-msft commented on #2541
Resolved. TD Build ares now passing, confirmed https://skype.visualstudio.com/SCC/_build/results?buildId=51840871&view=results.

Issue filed to:
https://dev.azure.com/skype/ES/_workitems/edit/3060050

Fix: removed unused variable tags=production. Variable used for compass, but look like compass is not working for GitHub repos.

[2022-11-18 21:26] #2541 closed

[2022-11-18 21:36] edwardlee-msft commented on #2521
Thank you for bringing this to our attention. We have now updated our storybook documentation to include package version details for features in public preview.
Documentation update will be available in our next beta release coming soon.

[2022-11-18 21:36] #2521 closed

[2022-11-25 01:32] mgamis-msft commented on #2425
Hi @DercilioFontes, the fix for this issue is in version [1.4.1-beta.1](https://www.npmjs.com/package/@azure/communication-react/v/1.4.1-beta.1). Please try it out and let us know if the issue still exists.

[2022-11-25 01:32] #2425 closed

[2022-11-25 01:37] mgamis-msft commented on #2468
Hi @jerry-chuang-qhr, the fix for this issue has been released in version [1.4.1-beta.1](https://www.npmjs.com/package/@azure/communication-react/v/1.4.1-beta.1). Please try it out. Let us know if the issue still exist and we will re-open this issue.

[2022-11-25 01:37] #2468 closed